<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <!-- Define custom levels before using them for filtering below. -->
  <CustomLevels>
    <CustomLevel name="ACTIVIDAD" intLevel="150" />
  </CustomLevels>
   <CustomLevels>
    <CustomLevel name="FALLA" intLevel="140" />
  </CustomLevels>
 
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%-7level - %msg - %d%n"/>
    </Console>
    
    <!--
	* El file que guarda los movimientos
	-->
    <RollingFile name="logMovimientos" 
      fileName = "C:\Users\alex2\PortalProveedores\log\activity\CurrentLog.json"
      filePattern = "C:\Users\alex2\PortalProveedores\log\activity\%d{yyyy-MM-dd}.json"
      append="true">
      <PatternLayout pattern= "{&quot; level &quot;:&quot;[%-5level]&quot;,&quot;empresa&quot;:&quot;[%X{empresa}]&quot;,&quot;mensaje&quot;:&quot;%msg&quot;, &quot;fecha&quot;:&quot;%d{yyyy-MM-dd HH:mm:ss.SSS}&quot;},%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy>
			    <!--
			      * only files in the log folder, no sub folders
			      * only files that are 30 days old or older
			    -->
			    <Delete basePath="log" maxDepth="1">
			      <IfLastModified age="30d" />
			    </Delete>
			  </DefaultRolloverStrategy>
    </RollingFile>
    
    <!--
	* El file que guarda los errores
	-->
     <RollingFile name="logErrores" 
      fileName = "C:\Users\alex2\PortalProveedores\log\error\CurrentLog.log"
      filePattern="C:\Users\alex2\PortalProveedores\log\error\%d{yyyy-MM-dd}.log"
      append="true">
      <PatternLayout pattern= "[%-5level] - %msg - %d{yyyy-MM-dd HH:mm:ss.SSS}%n%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
              <DefaultRolloverStrategy>
			    <!--
			      * only files in the log folder, no sub folders
			      * only files that are 30 days old or older
			    -->
			    <Delete basePath="error" maxDepth="1">
			      <IfLastModified age="30d" />
			    </Delete>
			  </DefaultRolloverStrategy>
    </RollingFile>
  </Appenders>
  
  <Loggers>
    <Root level="trace" additivity="false">
      <!-- Only events at WARN level or more specific are sent to the console. -->
      <AppenderRef ref="Console" level="info" />
      <AppenderRef ref="logErrores" level="warn" />
      <AppenderRef ref="logMovimientos" level="actividad" />
    </Root>
  </Loggers>
</Configuration>