<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="Pagina Principal de Caja Chica" />
<meta name="author" content="Alejandro y Yasmin" />
<title>Control de Efectivo - Página Principal</title>

<!-- SCRIPTS AND LINKS -->
<script data-search-pseudo-elements defer
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.27.0/feather.min.js"
	crossorigin="anonymous"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.5/b-html5-1.6.5/datatables.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/buttons/1.6.3/css/buttons.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/scroller/2.0.2/css/scroller.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/searchpanes/1.1.1/css/searchPanes.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/select/1.3.1/css/select.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<link href="/css/stylescc.css" rel="stylesheet" />
</head>

<!-- TOP NAV BAR -->
<body class="nav-fixed">
	<nav class="topnav navbar navbar-expand shadow navbar-light bg-white"
		id="sidenavAccordion">

		<!-- LOGO DE LA EMPRESA -->
		<a class="navbar-brand" href="#"> <!-- PRINT THE CORRESPONDING LOGO -->
			<img th:src="@{'company/profile/' + ${companyProfile}}"
			class="pl-3 img-fluid mr-0" alt="logo" style="height: 38px" />
		</a>


		<!-- ICONOS DE TOP NAV BAR -->
		<ul class="navbar-nav align-items-center ml-auto">

			<!-- DASHBOARD FEATHER -->
			<li class="nav-item dropdown no-caret mr-3 d-md-inline"><a
				class="btn btn-icon btn-transparent-dark" href="dashboard"
				id="dashboardButton" role="button" aria-haspopup="true"
				aria-expanded="false"><i data-feather=layout></i></a></li>

			<!-- CATALOG FEATHER -->
			<li class="nav-item dropdown no-caret mr-3 d-md-inline"><a
				class="btn btn-icon btn-transparent-dark"
				th:href="@{/documentosFiscalesClient/catalogo(selectedCompany=${selectedCompany})}"
				id="dashboardButton" role="button" aria-haspopup="true"
				aria-expanded="false"><i data-feather=book-open></i></a></li>

			<li class="nav-item dropdown no-caret mr-3 d-md-inline"><a
				class="btn btn-icon btn-transparent-dark dropdown-toggle"
				id="navbarDropdownModulo" href="javascript:void(0);" role="button"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
					data-feather="grid"></i></a>
				<div
					class="dropdown-menu dropdown-menu-right py-0 mr-sm-n15 mr-lg-0 o-hidden animated--fade-in-up"
					aria-labelledby="navbarDropdownModulo">
					<h6 class="dropdown-header dropdown-notifications-header">
						<i class="mr-2" data-feather="grid"></i> Centro de Módulos
					</h6>
					<a class="dropdown-item py-3" target="_blank">
						<div class="icon-stack bg-primary-soft text-primary mr-4">
							<i data-feather="layers"></i>
						</div>
						<div>
							<div class="small text-gray-500">Módulo</div>
							Documentos Fiscales (CFDI)
						</div>
					</a>
					<div class="dropdown-divider m-0"></div>
					<a class="dropdown-item py-3" target="_blank">
						<div class="icon-stack bg-indigo-soft text-indigo mr-4">
							<i data-feather="layers"></i>
						</div>
						<div>
							<div class="small text-gray-500">Módulo</div>
							Caja Chica
						</div>
					</a>
					<div class="dropdown-divider m-0"></div>
					<a class="dropdown-item py-3" target="_blank">
						<div class="icon-stack bg-teal-soft text-teal mr-4">
							<i data-feather="layers"></i>
						</div>
						<div>
							<div class="small text-gray-500">Módulo</div>
							Reposición de Gastos
						</div>
					</a>
					<div class="dropdown-divider m-0"></div>
					<a class="dropdown-item py-3" target="_blank">
						<div class="icon-stack bg-yellow-soft text-yellow mr-4">
							<i data-feather="layers"></i>
						</div>
						<div>
							<div class="small text-gray-500">Módulo</div>
							Comercio Exterior
						</div>
					</a>
					<div class="dropdown-divider m-0"></div>
					<a class="dropdown-item py-3" target="_blank">
						<div class="icon-stack bg-primary-soft text-primary mr-4">
							<i data-feather="layers"></i>
						</div>
						<div>
							<div class="small text-gray-500">Módulo</div>
							Documentos Extranjeros
						</div>
					</a>
				</div></li>



			<!-- CONFIGURACIONES -->
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<li class="nav-item dropdown no-caret mr-3 d-md-inline"><a
					class="btn btn-icon btn-transparent-dark dropdown-toggle"
					id="navbarDropdownMessages" href="/admin/cpanel" role="button"
					aria-haspopup="true" aria-expanded="false"><i
						data-feather=settings></i></a></li>
			</div>

			<li class="nav-item dropdown no-caret mr-2 dropdown-user"><a
				class="btn btn-icon btn-transparent-dark dropdown-toggle"
				id="navbarDropdownUserImage" href="javascript:void(0);"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"><img class="img-fluid"
					th:src="${'https://ui-avatars.com/api/?background=random&color=fff&name=' + #authentication.principal.name}" /></a>
				<div
					class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
					aria-labelledby="navbarDropdownUserImage">
					<h6 class="dropdown-header d-flex align-items-center">
						<img class="dropdown-user-img"
							th:src="${'https://ui-avatars.com/api/?background=random&color=fff&name=' + #authentication.principal.name}" />
						<div class="dropdown-user-details">
							<div class="dropdown-user-details-name">
								<span sec:authentication="name">
							</div>
							<div class="dropdown-user-details-email">
								<div th:text="${#authentication.principal.correo}"></div>
							</div>
						</div>
					</h6>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/logout?auth=pa">
						<div class="dropdown-item-icon">
							<i data-feather="log-out"></i>
						</div> Cerrar Sesión
					</a>
				</div></li>
		</ul>
	</nav>
	<div class="overflow:hidden">

		<!-- MAIN CAJA CHICA -->
		<main>
			<header
				class="page-header page-header-compact page-header-gradient border-bottom fixed-top my-5">
				<div class="container">
					<div class="page-header-content pt-4">
						<div class="row align-items-center justify-content-between">
							<div class="col-12 pb-3">
								<h1 class="page-header-title text-white">Control de
									Efectivo</h1>
								<h1 class="page-header-subtitle text-gray-300 mb-0 text-right">
									Portal Administrativo</h1>
							</div>
						</div>
					</div>
				</div>
			</header>

			<!-- Main page content-->
			<div class="container-fluid" style="padding-top: 150px">
				<div class="row">
					<div class="col-2">

						<!-- Buttons SideNav -->
						<nav class="nav nav-borders flex-column" style="position: fixed">
							<a class="nav-link " id="pestañaFormulario"
								th:href="@{/cajachicaclient/home}">Entradas</a> <a
								sec:authorize="hasRole('ADMIN')" class="nav-link active"
								id="pestañaAdministrativa"
								th:href="@{/cajachicaclient/administration}">Administración</a>
							<img src="/assets/img/logosEmpresas/CANFER-logo-transparente.png"
								class=" pl-5 pb-5"
								style="position: fixed; margin: 0 auto; bottom: 0; width: 120px;"
								alt="Logo CANFER" />

						</nav>
					</div>
					<div class="col-10">

						<!-- Main Content Entradas Caja Chica-->
						<div class="card mb-0">
							<div id="selectedCompany" th:text="${selectedCompany}" hidden>PAE920709D75</div>
							<div id="selectedClave" th:text="${selectedSucursal}" hidden>A-0080</div>
							<div sec:authentication="principal.authorities" hidden
								id="userRoles"></div>
							<div class="card-body">


								<!-- DIV DONDE ESTA LA TABLA -->
								<div id="divTabla">
									<div>
										<h4 class="float-right">REGISTRO DE FORMULARIOS
											CANCELADOS</h4>
									</div>


									<!-- ALERTS DE UPDATE DE FORMULARIOS -->
									<div class="alert alert-success alert-icon mt-3"
										id="alert-open" role="alert" hidden=true>
										<button class="close" type="button" data-dismiss="alert"
											aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
										<div class="alert-icon-aside">
											<i class="fa fa-check"></i>
										</div>
										<div class="alert-icon-content">Se abrió correctamente
											el formulario cerrado.</div>
									</div>
									<div class="alert alert-danger alert-icon mt-3"
										id="alert-open-error" role="alert" hidden=true>
										<button class="close" type="button" data-dismiss="alert"
											aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
										<div class="alert-icon-aside">
											<i class="fa fa-times"></i>
										</div>
										<div class="alert-icon-content">No se pudo abrir el
											formulario.</div>
									</div>
									<div class="alert alert-success alert-icon mt-3"
										id="alert-delete" role="alert" hidden=true>
										<button class="close" type="button" data-dismiss="alert"
											aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
										<div class="alert-icon-aside">
											<i class="fa fa-check"></i>
										</div>
										<div class="alert-icon-content">Se borró correctamente
											el formulario cerrado.</div>
									</div>
									<div class="alert alert-danger alert-icon mt-3"
										id="alert-delete-error" role="alert" hidden=true>
										<button class="close" type="button" data-dismiss="alert"
											aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
										<div class="alert-icon-aside">
											<i class="fa fa-times"></i>
										</div>
										<div class="alert-icon-content">No se pudo borrar el
											formulario.</div>
									</div>

									<!-- TABLA -->
									<div class="datatable" >
										<table class="compact table-hover" id="formularios"
											style="text-align: center; width: 100%">
											<thead>
												<tr>
													<th></th>
													<th></th>
													<th>Fecha</th>
													<th>Formulario</th>
													<th>Estatus</th>
													<th>Responsable</th>
													<th>Total</th>
												</tr>
											</thead>
											<tfoot>
												<tr>
													<th></th>
													<th></th>
													<th>Fecha</th>
													<th>Formulario</th>
													<th>Estatus</th>
													<th>Responsable</th>
													<th>Total</th>
												</tr>
											</tfoot>
										</table>


									</div>
								</div>





								<!-- MODAL PARA CONFIRMAR BORRAR -->
								<div class="deleteForm">
									<div class="modal fade" id="deleteForm" tabindex="-1"
										role="dialog" aria-labelledby="exampleModalCenterTitle"
										aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered"
											role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Eliminar Formulario</h5>
													<button class="close" type="button" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">×</span>
													</button>
												</div>
												<div class="modal-body">¿Está seguro que desea
													eliminar el formulario cancelado?</div>
												<div class="modal-footer">
													<button class="btn btn-primary" type="button"
														data-dismiss="modal">Cancelar</button>
													<a class="btn btn-danger text-light delBtn"
														id="confirmDeleteForm" type="button">Eliminar</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- MODAL PARA CONFIRMAR BORRAR -->
								<div class="openForm">
									<div class="modal fade" id="openForm" tabindex="-1"
										role="dialog" aria-labelledby="exampleModalCenterTitle"
										aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered"
											role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Abrir Formulario</h5>
													<button class="close" type="button" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">×</span>
													</button>
												</div>
												<div class="modal-body">¿Está seguro que desea abrir
													el formulario cancelado?</div>
												<div class="modal-footer">
													<button class="btn btn-primary" type="button"
														data-dismiss="modal">Cancelar</button>
													<a class="btn btn-danger text-light delBtn" type="button">
														Abrir</a>
												</div>
											</div>
										</div>
									</div>
								</div>



							</div>
						</div>








					</div>






				</div>
			</div>
		</main>
		<footer class="footer mt-auto footer-light">
			<div class="container">
				<div class="row">
					<div class="col-md-10 offset-md-2">
						<div class="row">
							<div class="col-md-6 small">Copyright &copy; Canfer Grupo
								Empresarial 2020</div>
							<div class="col-md-6 text-md-right small">
								<a> Políticas de Privacidad</a> &middot; <a>Términos &amp;
									Condiciones</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="/js/scripts.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.5/b-html5-1.6.5/datatables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
	<script src="/js/tableccAdmin.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/buttons/1.6.3/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/buttons/1.6.3/js/buttons.bootstrap4.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/buttons/1.6.3/js/buttons.flash.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/responsive/2.2.5/js/responsive.bootstrap4.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/scroller/2.0.2/js/dataTables.scroller.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/searchpanes/1.1.1/js/dataTables.searchPanes.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/searchpanes/1.1.1/js/searchPanes.bootstrap4.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<script src="/assets/demo/date-range-picker-demo.js"></script>



</body>
</html>