<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="Documentacion del portal de Canfer" />
<meta name="author" content="Alejandro y Yasmin" />
<title>Centro de Ayuda</title>
<link href="css/styles.css" rel="stylesheet" />
<link rel="icon" type="image/x-icon"
	href="/assets/img/logosEmpresas/canfer.gif" />
<script data-search-pseudo-elements defer
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.27.0/feather.min.js"
	crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
	<nav class="topnav navbar navbar-expand shadow navbar-light bg-white"
		id="sidenavAccordion">

		<!-- LOGO DE LA EMPRESA -->
		<a class="navbar-brand" href="#"> <img
			src="/assets/img/logosEmpresas/CANFER-logo-transparente.png"
			class="pl-3 img-fluid mr-0" alt="Logo Canfer" style="height: 45px" />
		</a>

		<!-- ICONOS DE TOP NAV BAR -->
		<ul class="navbar-nav align-items-center ml-auto">

			<li class="nav-item dropdown no-caret mr-3 d-md-inline"><a
				class="btn btn-icon btn-transparent-dark" href="/dashboard"
				id="dashboardButton" role="button" aria-haspopup="true"
				aria-expanded="false"><i data-feather=layout></i></a></li>
		</ul>
	</nav>
	<div>
		<div class="overflow:hidden">
			<main>
				<!-- Main page content-->
				<div class="container mt-4" style="padding-top: 150px">
					<!-- Knowledge base home header option-->
					<header
						class="page-header page-header-compact page-header-gradient border-bottom fixed-top my-5">
						<div class="container">
							<div class="page-header-content pt-4">
								<div class="row align-items-center justify-content-between">
									<div class="col-12 pb-3">
										<h1 class="page-header-title text-white">
											<div class="page-header-icon">
												<i data-feather="settings"></i>
											</div>
											Documentación
										</h1>
										<h1 class="page-header-subtitle text-gray-100 mb-0 text-right">Documentación
											del Portal de Proveedores</h1>
									</div>
								</div>
							</div>
						</div>
					</header>
					<div class="card card-waves">
						<div class="card-body px-5 pt-5 pb-0">
							<div class="row align-items-center justify-content-between">
								<div class="col-lg-6">
									<h1 class="text-primary">Centro de Ayuda</h1>
									<p class="lead mb-4">
										Aquí podrás encontrar respuestas sobre el funcionamiento del
										portal. En caso de necesitar ayuda en un tema que no aparezca,
										ponte en contacto con un <a href="#representanteCanfer">representante
											de Canfer</a> .
									</p>
									<div class="shadow rounded"></div>
								</div>
								<div class="col-lg-4">
									<img class="img-fluid"
										src="assets/img/freepik/problem-solving-pana.svg" />
								</div>
							</div>
						</div>
					</div>
					<h4 class="mb-0 mt-5">Categrías Principales</h4>
					<hr class="mt-2 mb-4" />
					<!-- Knowledge base main category card 1-->
					<a class="card card-icon lift lift-sm mb-4" id="topOfCollapse"
						data-toggle="collapse" href="#collapseCat1" role="button">
						<div class="row no-gutters">
							<div class="col-auto card-icon-aside bg-primary">
								<i class="text-white-50" data-feather="book"></i>
							</div>
							<div class="col">
								<div class="card-body py-5">
									<h2 class="card-title text-primary mb-2">Comprobantes
										Fiscales</h2>
									<p class="card-text mb-1">Aquí podrás encontrar información
										sobre la carga y administración de tus documentos fiscales .</p>

								</div>
							</div>
						</div>
					</a>
					<div class="collapse pb-5" id="collapseCat1">
						<div>

							<div class="accordion" id="accordionExample">
								<div class="card card-waves">
									<div class="card-header" id="headingOne">
										<h2 class="mb-0">
											<button class="btn btn-link" type="button"
												data-toggle="collapse" data-target="#collapseOne"
												aria-expanded="true" aria-controls="collapseOne">
												<a id="sectionDF"><h3 class="text-primary">Carga de
														documentos</h3></a>
											</button>
										</h2>
									</div>

									<div id="collapseOne" class="collapse"
										aria-labelledby="headingOne" data-parent="#accordionExample">
										<div class="card-body">

											<p>
												Dentro del portal se cargan los documentos fiscales,
												incluyendo facturas, notas de crédito y complementos de
												pago. Los documentos se deben cargar en su formato XML y PDF
												o solamente XML, pero <u>no se pueden cargar documentos
													en formato PDF por si solos.</u>
											</p>

											<h4 class="pt-3">Carga por Portal</h4>

											<p>La carga de documentos fiscales se puede hacer
												accediendo a la tabla de Inicio de la empresa a la se
												mandará la factura.</p>

											<img src="/assets/img/docproveedor/nav-inicio.png"
												class="pl-3 img-fluid pr-1" style="height: 160px" />

											<p>En el panel de herramientas podrá seleccionar el botón
												de Nuevo.</p>

											<img src="/assets/img/docproveedor/btns-panel.png"
												class="pl-3 img-fluid mr-0" style="height: 45px" />

											<p>Aparecerá una pantalla donde pueda subir el archivo
												XML y PDF del documento fiscal que quiera cargar.</p>

											<img src="/assets/img/docproveedor/modal-new.png"
												class="pl-3 img-fluid mr-0" style="height: 240px" />

											<p>Una vez que haya cargado los documentos, puede oprimir
												el botón de cargar. Los documentos entonces pasarán por el
												proceso de verificación de la empresa.</p>

											<div class="alert alert-danger alert-icon show" role="alert">
												<div class="alert-icon-aside">
													<i class="fas fa-exclamation"></i>
												</div>
												<div class="alert-icon-content">Toma en cuenta que
													solamente se pueden cargar archivos de 550 KB o menos. En
													caso de ser necesario, comprima el archivo PDF para que
													pueda ser aceptado.</div>
											</div>

											<hr />

											<h4>
												Carga por Correo <span class="m-1 "> <i
													data-feather="mail"></i></span>
											</h4>

											<p>
												Para cargar documentos fiscales, se puede enviar un correo
												electrónico a <b>fep@canfer.com.mx <span class="m-1 ">
														<i data-feather="mail"></i>
												</span>.
												</b>
											</p>

											<p>
												Dentro del correo, adjunta los documentos fiscales que
												quieres cargar al portal (puedes adjuntar varios documentos
												en el mismo correo). Estos se cargarán automáticamente
												cuando se reciba el correo. Los documentos XML que se envíen
												pueden adjuntarse solos. Si deseas cargar documentos en
												formato XML y en formato PDF, <u>debes asegurarte que
													ambos documentos tengan el mismo nombre.</u>
											</p>

											<p>
												<b>Ejemplo: </b>Factura.xml y Factura.pdf.
											</p>

											<p>
												Los documentos en formato PDF que no vengan en el correo
												junto con un documento en XML del mismo nombre <u>serán
													eliminados.</u>
											</p>

											<div class="alert alert-warning alert-icon show" role="alert">
												<div class="alert-icon-aside">
													<i class="fas fa-exclamation-triangle"></i>
												</div>
												<div class="alert-icon-content">
													Los documentos que solamente deben ser cargados <b>una
														vez</b>, no es necesario hacer ambos métodos (cargarlos al
													portal y enviarlos por correo). La segunda carga de una
													misma factura al portal será eliminada.
												</div>
											</div>

										</div>
									</div>
								</div>
								<div class="card card-waves">
									<div class="card-header" id="headingTwo">
										<h2 class="mb-0">
											<button class="btn btn-link collapsed" type="button"
												data-toggle="collapse" data-target="#collapseTwo"
												aria-expanded="false" aria-controls="collapseTwo">
												<h3 class="text-primary">Exportación de documentos</h3>
											</button>
										</h2>
									</div>
									<div id="collapseTwo" class="collapse"
										aria-labelledby="headingTwo" data-parent="#accordionExample">
										<div class="card-body">

											<h4>Reportes de Documentos Fiscales</h4>

											<p>Para exportar los documentos mostrados en la tabla de
												Inicio utiliza los botones de exportación ubicados en el
												panel de herramientas.</p>
											<img src="/assets/img/docproveedor/nav-inicio.png"
												class="pl-3 img-fluid pr-1" style="height: 160px" />
											<p>Se podrá exportar un reporte con la información de
												todos los documentos fiscales disponibles.</p>
											<img src="/assets/img/docproveedor/btns-panel.png"
												class="pl-3 img-fluid mr-0" style="height: 45px" />
											<ul>
												<li>CSV: Genera un archivo con extensión .csv . Este
													formato es un archivo de texto donde las columnas se
													separan por comas. Utilizado comúnmente en excel, bases de
													datos, entre otras aplicaciones de manipulación de datos.</li>
												<li>EXCEL: Genera un archivo de extensión .xls . El
													archivo tiene un formato y diseño compatible directamente
													con Excel.</li>
											</ul>

											<hr />

											<h4>Avisos de Pago</h4>

											<ul>
												<li>Descarga desde la tabla de <b>Avisos de Pago.</b></li>
											</ul>
											<a class="navbar-brand"> <img
												src="/assets/img/docproveedor/btn-sidenav-ap.png"
												class="pl-3 img-fluid mr-0" style="height: 160px" />
											</a>


											<p>
												En la primera columna de cada registro en la tabla se
												encuentra un ícono de PDF. <img
													src="/assets/img/docproveedor/btn-pdf.png"
													class="pl-1 img-fluid pr-1"
													style="width: 30px; vertical-align: bottom" /> Al
												oprimirlo podrá descargar el aviso de pago.
											</p>

											<ul>
												<li>Descarga desde la tabla de <b>Inicio.</b></li>
											</ul>
											<img src="/assets/img/docproveedor/nav-inicio.png"
												class="pl-3 img-fluid pr-1" style="height: 160px" />

											<p>
												En la primera columna de cada registro en la tabla de las
												facturas que se están pagadas se encuentra un ícono de pago
												rojo. <a
													class="btn btn-datatable btn-icon btn-outline-danger m-0"><i
													class="active text-danger" data-feather="dollar-sign"></i>
													<script>
														feather.replace()
													</script></a>
											</p>

											<p>
												Al presionarlo, aparecerá una ventana dondes se despliega la
												información del pago. Al presionar el ícono de PDF <img
													src="/assets/img/docproveedor/btn-pdf.png"
													class="pl-1 img-fluid pr-1"
													style="width: 30px; vertical-align: bottom" /> podrá
												descargar el aviso de pago.
											</p>

											<div class="alert alert-primary alert-icon show" role="alert">
												<div class="alert-icon-aside">
													<i class="fas fa-info"></i>
												</div>
												<div class="alert-icon-content">
													Los avisos de pago son enviados por correo electrónico en
													formato PDF de manera automática. En caso de que no sea
													así, contacte a <em>soporte@canfer.com.mx <span
														class="m-1 text-primary " style="color: #bf2b1d"> <i
															data-feather="mail"></i></span>.
													</em>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="card card-waves">
									<div class="card-header" id="heading1Three">
										<h2 class="mb-0">
											<button class="btn btn-link collapsed" type="button"
												data-toggle="collapse" data-target="#collapseThree"
												aria-expanded="false" aria-controls="collapseThree">
												<h3 class="text-primary">Antigüedad de documentos</h3>
											</button>
										</h2>
									</div>
									<div id="collapseThree" class="collapse"
										aria-labelledby="headingThree" data-parent="#accordionExample">
										<div class="card-body">
											<p>
												Dentro del portal de proveedores se tiene acceso a
												documentos fiscales cuya fecha de emisión esté dentro de los
												<u>últimos tres meses.</u>
											</p>
											<p>Para encontrar la fecha actualizada de antigüedad de
												los documentos fiscales a los que se tiene acceso, puedes
												acudir a la pestaña de Ayuda.</p>

											<img src="/assets/img/docproveedor/nav-ayuda.png"
												class="pl-3 pb-1 img-fluid pr-1" style="height: 160px" />

											<p>
												Dentro de la tarjeta Datos del Portal encontrará la fecha
												exacta bajo <em>Antigüedad de documentos que se
													despliegan.</em>
											</p>

											<div class="row pb-3">
												<div class="col-5">
													<div class="card">
														<div class="card-header" style="color: #bf2b1d">Datos
															de Portal</div>
														<div class="card-body">
															<div class="form-group">
																<label class="small mb-1" for="antiguedad">Antigüedad
																	de documentos que se despliegan</label> <input
																	style="height: 30px" class="form-control"
																	id="antiguedad" type="text" readonly />
															</div>
															<div class="form-group">
																<label class="small mb-1" for="version">Versión
																	de la Aplicación</label> <input style="height: 30px;"
																	class="form-control" id="version" type="text" readonly />
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="alert alert-primary alert-icon show" role="alert">
												<div class="alert-icon-aside">
													<i class="fas fa-info"></i>
												</div>
												<div class="alert-icon-content">
													Si tiene alguna duda acerca de un documento fiscal que no
													se encuentra en este rango de tiempo, favor de <a
														href="#representanteCanfer">contactar al representante</a>
													de la empresa correspondiente de Canfer.
												</div>
											</div>

										</div>
									</div>
								</div>
								<div class="card card-waves">
									<div class="card-header" id="heading1Four">
										<h2 class="mb-0">
											<button class="btn btn-link collapsed" type="button"
												data-toggle="collapse" data-target="#collapseFour"
												aria-expanded="false" aria-controls="collapseFour">
												<h3 class="text-primary">Pago de Comprobantes</h3>
											</button>
										</h2>
									</div>
									<div id="collapseFour" class="collapse"
										aria-labelledby="headingFour" data-parent="#accordionExample">
										<div class="card-body">
											<p>Para saber si los comprobantes fiscales han sido
												pagados, puede ir a la tabla de Inicio.</p>

											<img src="/assets/img/docproveedor/nav-inicio.png"
												class="pl-3 pb-3 img-fluid pr-1" style="width: 160px" />

											<p>
												En la columna de <b>Estatus</b> podrá verificar el estatus
												del comprobante. Si la factura ha sido podrá ver el estatus
												<span class="badge badge-green">Pagado</span>, de otro modo
												aparecerá como <span class="badge badge-orange">Pendiente
													Pago</span>. En caso de que el comprobante fiscal sea cancelado,
												éste aparecerá como <span class="badge badge-red">Cancelado</span>.
											</p>
											<div class="alert alert-primary alert-icon show" role="alert">
												<div class="alert-icon-aside">
													<i class="fas fa-info"></i>
												</div>
												<div class="alert-icon-content">
													Si el comprobante fiscal aparece como <span
														class="badge badge-red">Cancelado</span> y cree que es un
													error, favor de <a href="#representanteCanfer">contactar
														al representante</a> de la empresa de Canfer correspondiente.
												</div>
											</div>
											<p>
												Una vez que el comprobante aparezca como pagado, la
												información del pago aparecerá en las columnas <b>Monto
													Pago, Fecha Pago y Folio Pago</b>. Información adicional del
												pago puede verse al presionar el botón <a
													class="btn btn-datatable btn-icon btn-outline-danger m-0"><i
													class="active text-danger" data-feather="dollar-sign"></i>
													<script>
														feather.replace()
													</script></a> que se encuentra habilitado en la parte izquierda de dicha
												entada de la tabla. Al presionarlo tendrá acceso a la
												información del pago, de igual manera podrá descargar el
												aviso de pago en formato PDF al presionar el botón <img
													src="/assets/img/docproveedor/btn-pdf.png"
													class="pl-1 img-fluid pr-1"
													style="width: 30px; vertical-align: bottom" />.
											</p>
											<img src="/assets/img/docproveedor/btn-sidenav-ap.png"
												class="pl-3 img-fluid mr-0" style="width: 160px" />
											<p>Todos los avisos de pago disponibles podrán ser
												accesados a través de la pestaña de Avisos de Pago, donde
												encontrará una tabla con la información de los pagos
												realizados.</p>
										</div>
									</div>
								</div>


							</div>

						</div>
					</div>
					<!-- Knowledge base main category card 2-->
					<a class="card card-icon lift lift-sm mb-4" data-toggle="collapse"
						href="#collapseCat2" role="button">
						<div class="row no-gutters">
							<div class="col-auto card-icon-aside bg-secondary">
								<i class="text-white-50" data-feather="users"></i>
							</div>
							<div class="col">
								<div class="card-body py-5">
									<h2 class="card-title text-secondary mb-2">Administración
										de Cuentas</h2>
									<p class="card-text mb-1">Aquí podrás encontrar información
										sobre creación y manejo de cuentas de tu empresa.</p>
								</div>
							</div>
						</div>
					</a>

					<div class="collapse pb-5" id="collapseCat2">
						<div>

							<div class="accordion" id="accordionExample2">
								<div class="card card-waves">
									<div class="card-header" id="heading2One">
										<h2 class="mb-0">
											<button class="btn btn-link" type="button"
												data-toggle="collapse" data-target="#collapse2One"
												aria-expanded="true" aria-controls="collapse2One">
												<h3 class="text-secondary">Iniciar Sesión</h3>
											</button>
										</h2>
									</div>

									<div id="collapse2One" class="collapse"
										aria-labelledby="heading2One" data-parent="#accordionExample2">
										<div class="card-body">

											<div class="alert alert-teal alert-icon show" role="alert">
												<div class="alert-icon-aside">
													<i class="fas fa-info"></i>
												</div>
												<div class="alert-icon-content">
													Accede al portal a través de la página <em>www.proveedor.canfer.com.mx.</em>
												</div>
											</div>
											<img src="/assets/img/docproveedor/loginP.png"
												class="pl-3 pb-1 img-fluid pr-1" style="height: 300px" />

											<p>Dentro de la página de inicio de sesión del portal
												utiliza las credenciales (usuario y contraseña) que se
												enviaron por correo electrónico para acceder. Por seguridad,
												estas se envían al correo electrónico oficial que se tiene
												registrado del socio de negocio correspondiente.</p>

											<p>
												<b>Si tienes problemas para acceder al portal envía un
													correo a <em>soporte@canfer.com.mx. <span class="m-1 ">
															<i data-feather="mail"></i>
													</span></em>.
												</b>
											</p>

											<p>
												Si no cuentas con las credenciales para acceder al portal,
												consulta la sección de <a data-toggle="collapse"
													data-parent="#accordionExample2"
													data-target="#collapse2Two" href="#heading2Two">registro
													al portal.</a>
											</p>
										</div>
									</div>
								</div>
								<div class="card card-waves">
									<div class="card-header" id="heading2Two">
										<h2 class="mb-0">
											<button class="btn btn-link collapsed" type="button"
												data-toggle="collapse" data-target="#collapse2Two"
												aria-expanded="false" aria-controls="collapse2Two">
												<h3 class="text-secondary">Registro al portal</h3>
											</button>
										</h2>
									</div>
									<div id="collapse2Two" class="collapse"
										aria-labelledby="heading2Two" data-parent="#accordionExample2">
										<div class="card-body">

											<p>
												Si no cuentas con tus credenciales de proveedor para acceder
												al portal, oprime el hipervínculo <a class="text-primary"
													disabled>Registrate al Portal</a> en la página principal
												dentro del recuadro de inicio de sesión.
											</p>
											<img src="/assets/img/docproveedor/loginP.png"
												class="pl-3 pb-1 img-fluid pr-1" style="height: 300px" />

											<p>Se accederá a un página donde llenarás un formulario
												para validar quién es la persona que solicita acceso al
												portal.</p>

											<img src="/assets/img/docproveedor/register.png"
												class="pl-3 pb-1 img-fluid pr-1" style="height: 300px" />

											<p>Este formulario se enviará y los datos serás
												verificados con los datos que se tienen guardados de los
												proveedores de empresas de Canfer. Una vez que se valida la
												información, se enviarán las credenciales de usuario y
												contraseña al correo proporcionado.</p>
											<div class="alert alert-warning alert-icon show" role="alert">
												<div class="alert-icon-aside">
													<i class="fas fa-exclamation-triangle"></i>
												</div>
												<div class="alert-icon-content">
													En caso de que los datos que se ingresen al formulario no
													corresponda con uno de los proveedores oficiales
													registrados en las empresas de Canfer, <b>no se creará
														una cuenta para la persona que la solicita.</b>
												</div>
											</div>
											<div class="alert alert-danger alert-icon show" role="alert">
												<div class="alert-icon-aside">
													<i class="fas fa-exclamation"></i>
												</div>
												<div class="alert-icon-content">
													Por cuestiones de seguridad, los socios de negocio
													solamente pueden crear <b>una cuenta de proveedores</b>. En
													caso de requerir más de una cuenta, favor de <a
														href="#representanteCanfer">contactar al representante</a>
													de la empresa correspondiente de Canfer.
												</div>
											</div>
											Si eres parte de uno de los socios de negocio oficiales de
											Canfer y <u>no has podido crear una cuenta</u>, favor de <a
												href="#representanteCanfer">contactar al representante</a>
											de la empresa correspondiente de Canfer.
										</div>
									</div>
								</div>

								<div class="card card-waves">
									<div class="card-header" id="heading2Three">
										<h2 class="mb-0">
											<button class="btn btn-link collapsed" type="button"
												data-toggle="collapse" data-target="#collapse2Three"
												aria-expanded="false" aria-controls="collapse2Three">
												<h3 class="text-secondary">Cerrar Sesión</h3>
											</button>
										</h2>
									</div>
									<div id="collapse2Three" class="collapse"
										aria-labelledby="heading2Three"
										data-parent="#accordionExample2">
										<div class="card-body">

											<p>Para cerrar la sesión actual selecciona tu perfil
												ubicado en la parte superior derecha de tu ventana. Se
												desplegará un menú. Oprima cerrar sesión.</p>

											<img src="/assets/img/docproveedor/cerrar-sesion.png"
												class="pl-3 pb-3 img-fluid pr-1" style="height: 60px" />


											<div class="alert alert-danger alert-icon show" role="alert">
												<div class="alert-icon-aside">
													<i class="fas fa-exclamation"></i>
												</div>
												<div class="alert-icon-content">Por seguridad, evita
													dejar sesiones abiertas en lugares públicos y/o equipos
													desconocidos.</div>
											</div>

										</div>
									</div>
								</div>
								
								<div class="card card-waves">
									<div class="card-header" id="heading2Four">
										<h2 class="mb-0">
											<button class="btn btn-link collapsed" type="button"
												data-toggle="collapse" data-target="#collapse2Four"
												aria-expanded="false" aria-controls="collapse2Four">
												<h3 class="text-secondary">Contraseña</h3>
											</button>
										</h2>
									</div>
									<div id="collapse2Four" class="collapse"
										aria-labelledby="heading2Four"
										data-parent="#accordionExample2">
										<div class="card-body">

											<p>Cuando se registre al portal, las credenciales
											para entrar al portal de proveedores serán <u>enviadas
											por correo electrónico.</u></p>

											<p>En caso de que no recuerde su contraseña, puede intentar
											buscarla en su correo electrónico. </p>
											
											<p>Si necesita <b>reestablecer
											su contraseña</b>, evíe un correo a <em>soporte@canfer.com.mx</em>
											<span class="m-1"> <i
														data-feather="mail"></i></span>. Se reestablecerá
														su contraseña y sus nuevas credenciales serán
														enviadas por correo electrónico.</p>

										</div>
									</div>
								</div>

							</div>

						</div>
					</div>

					<!-- Knowledge base main category card 3-->
					<a class="card card-icon lift lift-sm mb-4" data-toggle="collapse"
						href="#collapseCat3" role="button">
						<div class="row no-gutters">
							<div class="col-auto card-icon-aside bg-teal">
								<i class="text-white-50" data-feather="map"></i>
							</div>
							<div class="col">
								<div class="card-body py-5">
									<h2 class="card-title text-teal mb-2">Navegación del
										Portal</h2>
									<p class="card-text mb-1">Aquí podrás encontrar información
										sobre las diferentes funciones y páginas del portal.</p>
								</div>
							</div>
						</div>
					</a>
					<div class="collapse pb-5" id="collapseCat3">
						<div>

							<div class="accordion" id="accordionExample3">
								<div class="card card-waves">
									<div class="card-header" id="heading3One">
										<h2 class="mb-0">
											<button class="btn btn-link" type="button"
												data-toggle="collapse" data-target="#collapse3One"
												aria-expanded="true" aria-controls="collapse3One">
												<h3 class="text-teal">Dashboard</h3>
											</button>
										</h2>
									</div>

									<div id="collapse3One" class="collapse"
										aria-labelledby="heading3One" data-parent="#accordionExample3">
										<div class="card-body">

											<h3>Acceso</h3>
											<p>El dashboard es la página central que se desplegará
												una vez que hayas iniciado sesión exitosamente.</p>

											<img src="/assets/img/docproveedor/dashboard.png"
												class="pl-3 pb-3 img-fluid pr-1" style="height: 80px" />

											<p>
												Lo podrás identificar por el símbolo <a
													class="btn btn-datatable btn-icon btn-outline-light m-0"><i
													class="active" data-feather="layout"></i> <script>
														feather.replace()
													</script></a> que se encuentra en la página. Este símbolo también está
												presente del lado derecho de la barra superior de la página,
												por lo que tendrás un acceso rápido al dashboard siempre que
												lo necesites.
											</p>

											<hr />
											<h3>Contenido</h3>
											<p>En él encontrarás un listado de tarjetas que contienen
												las empresas a las que provees.</p>

											<p>Para continuar, selecciona una de las tarjetas. Esto
												te llevará a la tabla de Inicio de dicha empresa, donde
												podrás ver todas los documentos y avisos de pago
												relacionados a ella.</p>


											<div class="alert alert-warning alert-icon show" role="alert">
												<div class="alert-icon-aside">
													<i class="fas fa-exclamation-triangle"></i>
												</div>
												<div class="alert-icon-content">
													Si tienes problemas para encontrar la tarjeta deseada,
													envía un correo a <em>soporte@canfer.com.mx </em> <span
														class="m-1 text-warning " style="color: #bf2b1d"> <i
														data-feather="mail"></i></span>.
												</div>
											</div>

											Puede que por empresa tenga más de una tarjeta en su
											dashboard. Esto se debe a que también tendrá una tarjeta por
											clave de proveedor. Para saber más del funcionamiento de
											claves de proveedor y verificar qué clave de proveedor tiene,
											favor de dirigirse al apartado <a data-toggle="collapse"
												data-parent="#accordionExample3"
												data-target="#collapse3Three" href="#heading3Three">Sección
												de Perfil.</a>

										</div>
									</div>
								</div>
								<div class="card card-waves">
									<div class="card-header" id="heading3Two">
										<h2 class="mb-0">
											<button class="btn btn-link collapsed" type="button"
												data-toggle="collapse" data-target="#collapse3Two"
												aria-expanded="false" aria-controls="collapse3Two">
												<h3 class="text-teal">Herramientas de Filtros</h3>
											</button>
										</h2>
									</div>
									<div id="collapse3Two" class="collapse"
										aria-labelledby="heading3Two" data-parent="#accordionExample3">
										<div class="card-body">
											<h3>Filtros avanzados</h3>

											<img src="/assets/img/docproveedor/btns-panel.png"
												class="pl-3 img-fluid mr-0" style="height: 45px" />

											<p>
												Al navegar en la pestaña de Inicio se puede acceder a las
												herramientas de filtro al oprimir el icono de lupa <a
													class="btn btn-datatable btn-icon btn-outline-danger m-0"><i
													class="active text-red" data-feather="search"></i> <script>
														feather.replace()
													</script></a> .
											</p>



											<p>
												Se desplegará una caja de herramientas con los siguientes
												campos: <b>Fecha de emisión, Estatus, Serie, y rango de
													Folio</b>. Llene los campos* necesarios que cumplan con su
												criterio de búsqueda. A continuación oprima el botón Buscar.
											</p>


											<button class="btn btn-red mb-2" type="button"
												id="reloadTableBtn">
												Buscar<i class="ml-2" data-feather="search"></i>
											</button>
											<p>Los resultados se mostrarán en la tabla si existen
												coincidencias con los criterios seleccionados. La tabla se
												mostrará en blanco si ninguna coincidencia fue encontrada.</p>

											<p>Para limpiar los campos puede oprimir el botón Limpiar
												o simplemente modificar directamente el campo que desee
												cambiar.</p>
											<button class="btn btn-red mb-3 mt-0" type="button"
												id="clearFilters">Limpiar</button>

											<div class="alert alert-primary alert-icon show" role="alert">
												<div class="alert-icon-aside">
													<i class="fas fa-info"></i>
												</div>
												<div class="alert-icon-content">*Para buscar un folio
													en específico, llene ambos campos de Folio (inicial, final)
													con el mismo valor.</div>
											</div>
											<hr />

											<h3>Búsqueda Rápida</h3>

											<p>Puede realizar una búsqueda rápida utilizando el
												buscador.</p>
											<img src="/assets/img/docproveedor/buscador.png"
												class="pl-3 pb-3 img-fluid pr-1" style="height: 50px" />
											<p>Cualquier palabra clave que ingrese aquí será
												utilizada para filtrar la tabla. Teclee la palabra deseada y
												oprima la tecla Enter. Utilice esta herramienta cuando
												necesite hacer una búsqueda más general en la tabla.</p>

										</div>
									</div>
								</div>

								<div class="card card-waves">
									<div class="card-header" id="heading3Five">
										<h2 class="mb-0">
											<button class="btn btn-link collapsed" type="button"
												data-toggle="collapse" data-target="#collapse3Five"
												aria-expanded="false" aria-controls="#collapse3Five">
												<h3 class="text-teal">Sección de Inicio</h3>
											</button>
										</h2>
									</div>
									<div id="collapse3Five" class="collapse"
										aria-labelledby="heading3Five"
										data-parent="#accordionExample3">
										<div class="card-body">

											<h3>Contenido</h3>

											<img src="/assets/img/docproveedor/nav-inicio.png"
												class="pl-3 pb-3 img-fluid pr-1" style="height: 160px" />

											<p>
												En la sección se encuentra la tabla de Inicio. Ésta contiene
												todos los documentos fiscales que tiene asociados a la
												empresa y clave de proveedor que seleccionó en el <a
													data-toggle="collapse" data-parent="#accordionExample3"
													data-target="#collapse3One" href="#collapse3One">Dashboard</a>.
											</p>

											<p>
												Los documentos fiscales que se despliegan tiene antigüedad
												de emisión de tres meses. Las facturas que no aparezcan aquí
												puede que aún no hayan sido validadas por la empresa de
												Canfer. Para saber más sobre los documentos fiscales, revise
												la categoría de <a data-toggle="collapse"
													data-target="#collapseCat1,#collapseOne" type="button"
													href="#collapseCat1"> Comprobantes Fiscales </a>
											<hr />

											<h3>Tabla</h3>

											<p>
												Dentro de la tabla, podrá encontrar varias columnas que le
												darán información del documento fiscal. Las columnas <b>Serie,
													Folio, Total, Fecha Emisión y Tipo de Comprobante </b> se leen
												direcamente del archivo XML del comprobante.
											</p>

											<p>
												Los campos <b>Monto Pago, Fecha Pago y Folio Pago</b> hacen
												referencia al pago del documento Fiscal. Solamente estarán
												llenos si la factura ha sido pagada. Esto se verá reflejado
												en la columna <b>Estatus</b>, que permite saber si la
												factura ha sido <span class="badge badge-green">Pagada</span>
												o si sigue <span class="badge badge-orange">Pendiente
													Pago</span>.
											</p>


											<p>
												En la parte izquierda, podrás encontrar tres botón por cada
												registro. El primer botón <a
													class="btn btn-datatable btn-icon btn-transparent-dark text-red m-0"><i
													data-feather="list"></i> <script>
														feather.replace()
													</script></a> puede ser presionado para ver más información acerca del
												comprobante fiscal.
											</p>

											<p>
												El segundo botón sirve para ver más información acerca del
												pago del comprobante. Si el pago no ha sido realizado, el
												botón aparecerá <a
													class="btn btn-datatable disabled btn-icon btn-transparent-dark text-red m-0"><i
													data-feather="dollar-sign"></i> <script>
														feather.replace()
													</script></a> . En caso de que el pago ya se haya realizado, el botón
												aparecerá <a
													class="btn btn-datatable btn-icon btn-transparent-dark text-red m-0"><i
													style="color: red" data-feather="dollar-sign"></i> <script>
														feather.replace()
													</script></a> y la información podrá ser accesada.
											</p>

											<p>
												El último botón sirve para accesar los comentarios que se
												han realizado sobre la factura. En caso de que no se hayan
												realizado comentarios el botón aparecerá <a
													class="btn btn-datatable disabled btn-icon btn-transparent-dark text-red m-0"><i
													data-feather="message-square"></i> <script>
														feather.replace()
													</script></a> . En caso de que se hayan realizado comentarios, el botón
												aparecerá <a
													class="btn btn-datatable btn-icon btn-transparent-dark text-red m-0"><i
													style="color: red" data-feather="message-square"></i> <script>
														feather.replace()
													</script></a> y la información podrá ser accesada.
											</p>
										</div>
									</div>
								</div>

								<div class="card card-waves">
									<div class="card-header" id="heading3Six">
										<h2 class="mb-0">
											<button class="btn btn-link collapsed" type="button"
												data-toggle="collapse" data-target="#collapse3Six"
												aria-expanded="false" aria-controls="#collapse3Six">
												<h3 class="text-teal">Sección de Avisos de Pago</h3>
											</button>
										</h2>
									</div>
									<div id="collapse3Six" class="collapse"
										aria-labelledby="heading3Six" data-parent="#accordionExample3">
										<div class="card-body">

											<h3>Contenido</h3>
											<img src="/assets/img/docproveedor/nav-perfil.png"
												class="pl-3 pb-3 img-fluid pr-1" style="height: 160px" />

											<p>
												Dentro de esta sección se encuentra la información acerca de
												los avisos de pago que están relacionados a la empresa y
												clave de proveedor seleccionados en el <a
													data-toggle="collapse" data-parent="#accordionExample3"
													data-target="#collapse3One" href="#collapse3One">Dashboard</a>.
											</p>

											<p>
												Se encuentran las columnas de <b>Folio Pago, Fecha Pago,
													Monto Pago y Total Factura</b>. Además utilizando el símbolo de
												<img src="/assets/img/docproveedor/btn-pdf.png"
													class="pl-1 img-fluid pr-1"
													style="width: 30px; vertical-align: bottom" /> podrá
												descargar el aviso de pago en formato PDF.
											<p>Puede realizar una búsqueda rápida utilizando el
												buscador.</p>
											<img src="/assets/img/docproveedor/buscador.png"
												class="pl-3 pb-3 img-fluid pr-1" style="height: 50px" />
											<p>Cualquier palabra clave que ingrese aquí será
												utilizada para filtrar la tabla. Teclee la palabra deseada y
												oprima la tecla Enter.</p>


											<div class="alert alert-warning alert-icon show" role="alert">
												<div class="alert-icon-aside">
													<i class="fas fa-exclamation-triangle"></i>
												</div>
												<div class="alert-icon-content">
													En caso de que no encuentre el aviso de pago de un
													comprobante fiscal que ya se encuentra pagado, favor de <a
														href="#representanteCanfer">contactar al representante</a>
													de la empresa correspondiente de Canfer.
												</div>
											</div>


										</div>
									</div>
								</div>
								<div class="card card-waves">
									<div class="card-header" id="heading3Three">
										<h2 class="mb-0">
											<button class="btn btn-link collapsed" type="button"
												data-toggle="collapse" data-target="#collapse3Three"
												aria-expanded="false" aria-controls="collapse3Three">
												<h3 class="text-teal">Sección de Perfil</h3>
											</button>
										</h2>
									</div>
									<div id="collapse3Three" class="collapse"
										aria-labelledby="heading3Three"
										data-parent="#accordionExample3">
										<div class="card-body">
											<h3>Información del Socio de Negocio</h3>

											<p>La sección de Perfil contiene la información del socio
												de negocio al que se encuentra asociado.</p>

											<img src="/assets/img/docproveedor/nav-perfil.png"
												class="pl-3 pb-3 img-fluid pr-1" style="height: 160px" />

											<p>Los campos de RFC, Nombre, Contacto, Calle, Municipio,
												Estado, CP, Teléfono y Moneda son llenados con los datos que
												Canfer ha recibido de la empresa.</p>


											<div class="alert alert-warning alert-icon show" role="alert">
												<div class="alert-icon-aside">
													<i class="fas fa-exclamation-triangle"></i>
												</div>
												<div class="alert-icon-content">
													En caso de que se necesita actualizar cualquier dato favor
													de <a href="#representanteCanfer">contactar al
														representante</a> de la empresa correspondiente de Canfer.
												</div>
											</div>

											<hr />
											<h3>Clave de Proveedor</h3>

											El dato de clave de proveedor es el identificador que Canfer
											tiene de su empresa. Este idenfiticador es asignado
											automáticamente por Canfer y tiene propósitos administivos.
											Una empresa con un mismo RFC <b>puede tener más de una
												clave de proveedor asociada</b>, ya que se asigna una clave de
											proveedor por tipo de moneda que maneje (USD o MXN) y el tipo
											de servicio que ofrezca. En caso de manejar más de una moneda
											o tipo de servicio, se le asignará más de una clave.
										</div>
									</div>
								</div>

								<div class="card card-waves">
									<div class="card-header" id="heading3Four">
										<h2 class="mb-0">
											<button class="btn btn-link collapsed" type="button"
												data-toggle="collapse" data-target="#collapse3Four"
												aria-expanded="false" aria-controls="#collapse3Four">
												<h3 class="text-teal">Sección de Ayuda</h3>
											</button>
										</h2>
									</div>
									<div id="collapse3Four" class="collapse"
										aria-labelledby="heading3Four"
										data-parent="#accordionExample3">
										<div class="card-body">


											<h3>Datos de Contacto</h3>
											<img src="/assets/img/docproveedor/nav-perfil.png"
												class="pl-3 pb-3 img-fluid pr-1" style="height: 160px" />

											<p>
												Dentro de esta sección puedes encontrar información sobre el
												<b>contacto del representante</b> de la empresa de Canfer
												que se seleccionó en el Dashboard. Si requiere asistencia
												relacionada a los documentos fiscales o avisos de pago del
												socio de negocio, favor de contactar al correo electrónico <span
													class="m-1 text-red " style="color: #bf2b1d"> <i
													data-feather="mail"></i>
												</span> o teléfono <span class="m-1 text-red"
													style="color: #bf2b1d"> <i data-feather="phone"></i>
												</span> que se proporcionan.
											</p>

											<div class="alert alert-warning alert-icon show" role="alert">
												<div class="alert-icon-aside">
													<i class="fas fa-exclamation-triangle"></i>
												</div>
												<div class="alert-icon-content">
													El contacto del representante de Canfer puede resolver <b>temas
														relacionados a los comprobantes fiscales y avisos de pago
														de la empresa seleccionada solamente</b>. Para dudas técnicas
													del portal, favor de mandar un correo a <em>soporte@canfer.com.mx</em>
													<span class="m-1 text-yellow " style="color: #bf2b1d">
														<i data-feather="mail"></i>
													</span>.
												</div>
											</div>

											<hr />
											<h3>Datos del Portal</h3>

											<p>
												Dentro de esta sección puedes encontrar información básica
												sobre el portal. Esto incluye la <b>versión del portal</b> y
												la <b>fecha de antigüedad</b> de los documentos que se
												despliegan en el portal.
											</p>

											<div class="alert alert-primary alert-icon show" role="alert">
												<div class="alert-icon-aside">
													<i class="fas fa-info"></i>
												</div>
												<div class="alert-icon-content">Los socios de negocio
													de Canfer tienen acceso al historial de comprobantes
													fiscales y avisos de pago de los últimos tres meses.</div>
											</div>

										</div>
									</div>
								</div>

							</div>


						</div>
					</div>
					<h4 class="mb-0 mt-5">Pregutas Frecuentes</h4>
					<hr class="mt-2 mb-4" />
					<div class="row">
						<div class="col-lg-4 mb-4">
							<!-- Knowledge base category card 2-->
							<a class="card lift lift-sm h-100">
								<div class="card-body py-5">
									<h5 class="card-title text-teal mb-2">
										<i class="mr-2" data-feather="help-circle"></i> ¿Cómo puedo
										saber a quién contactar para obtener ayuda?
									</h5>
									<p class="card-text">
										Si necesitas ayuda con <b>temas relacionados al portal de
										proveedores</b>, problemas al accesar, dudas del funcionamiento o
										funciones puedes enviar un correo a <em>soporte@canfer.com.mx</em>
										<span class="m-1 text-teal " style="color: #bf2b1d"> <i
											data-feather="mail"></i></span>.
									</p>

									<p>Si tienes dudas acerca de los <b>documentos fiscales,
										pagos, avisos de pago o estatus de documentos</b>, puedes
										contactar a un representante de la empresa correspondiente de
										Canfer.</p>

								</div>
							</a>
						</div>
						<div class="col-lg-4 mb-4">
							<!-- Knowledge base category card 1-->
							<a class="card lift lift-sm h-100">
								<div class="card-body py-5">
									<h5 class="card-title text-primary mb-2">
										<i class="mr-2" data-feather="edit-2"></i>¿Cómo puedo
										contactar al soporte técnico de Canfer?
									</h5>
									<p class="card-text">
										Si no encuentras la ayuda que necesitas en esta página, puedes
										mandar un correo electrónico a <em>soporte@canfer.com.mx</em>
										<span class="m-1 text-primary " style="color: #bf2b1d">
											<i data-feather="mail"></i>
										</span> para obtener asistencia.
										
										<div class="alert alert-warning alert-icon show" role="alert">
										<div class="alert-icon-aside">
											<i class="fas fa-exclamation-triangle"></i>
										</div>
										<div class="alert-icon-content">
											Las preguntas que pueden resolverse son <b>preguntas
											técnicas</b> sobre el portal de proveedores.
										</div>
									</div>


								</div>
							</a>
						</div>
						<div class="col-lg-4 mb-4">
							<!-- Knowledge base category card 2-->
							<a id="representanteCanfer" class="card lift lift-sm h-100">
								<div class="card-body py-5">
									<h5 class="card-title text-secondary mb-2">
										<i class="mr-2" data-feather="phone"></i> ¿Cómo puedo
										contactar a un representante de Canfer?
									</h5>
									<p class="card-text">Para contactar a un representante de
										Canfer accede al Dashboard e ingresa a la tarjeta que
										corresponda a la empresa con la que deseas comunicarte.</p>


									<div class="alert alert-warning alert-icon show" role="alert">
										<div class="alert-icon-aside">
											<i class="fas fa-exclamation-triangle"></i>
										</div>
										<div class="alert-icon-content">
											Los representantes de cada empresa varían, por lo que
											debes <b>seleccionar la empresa deseada.</b>
										</div>
									</div>

									<p>
										Después ingresa a la sección de Ayuda y encontrarás la tarjeta
										de Datos de Contacto. Dentro de ella estará el nombre, correo
										electrónico <span class="m-1 text-red " style="color: #bf2b1d">
											<i data-feather="mail"></i>
										</span> y teléfono <span class="m-1 text-red" style="color: #bf2b1d">
											<i data-feather="phone"></i>
										</span> del representante con el que debes ponerte en contacto.
									</p>
								</div>
							</a>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-4 mb-4">
							<!-- Knowledge base category card 1-->
							<a class="card lift lift-sm h-100">
								<div class="card-body py-5">
									<h5 class="card-title text-primary mb-2">
										<i class="mr-2" data-feather="edit-2"></i>¿Qué puedo hacer si
										no recuerdo mi contraseña?
									</h5>
									<p class="card-text">
										En caso de que necesites reestablecer tu contraseña, puedes
										mandar un correo electrónico a <em>soporte@canfer.com.mx</em>
										<span class="m-1 text-primary " style="color: #bf2b1d">
											<i data-feather="mail"></i>
										</span> para obtener asistencia.
									<div class="alert alert-primary alert-icon show" role="alert">
										<div class="alert-icon-aside">
											<i class="fas fa-info"></i>
										</div>
										<div class="alert-icon-content">
											Tu contraseña será reestablecida y recibirás un correo electrónico
											con tus nuevas credenciales <span
												class="m-1 text-primary " style="color: #bf2b1d"> <i
													data-feather="mail"></i></span>.
										</div>
									</div>

								</div>
							</a>
						</div>
						

					</div>

				</div>
			</main>
			<footer class="footer mt-auto footer-light">
				<div class="mx-auto">
					<div class="row">
						<div class="small">Copyright &copy; Canfer Grupo Empresarial
							2021</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="js/scripts.js"></script>
</body>
</html>
