<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description"
	content="Pagina Principal de Contaduria Nacional" />
<meta name="author" content="Alejandro y Yasmin" />
<title>Contaduria Nacional - Página Principal</title>

<!-- SCRIPTS AND LINKS -->
<script data-search-pseudo-elements defer
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.27.0/feather.min.js"
	crossorigin="anonymous"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.5/b-html5-1.6.5/datatables.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/buttons/1.6.3/css/buttons.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/scroller/2.0.2/css/scroller.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/searchpanes/1.1.1/css/searchPanes.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/select/1.3.1/css/select.bootstrap4.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<link href="css/stylesdf.css" rel="stylesheet" />
</head>

<!-- TOP NAV BAR -->
<body class="nav-fixed">
	<nav class="topnav navbar navbar-expand shadow navbar-light bg-white"
		id="sidenavAccordion">

		<!-- LOGO DE LA EMPRESA -->
		<a class="navbar-brand" href="#"> 
			<!-- PRINT THE CORRESPONDING LOGO -->
			<div th:if="${selectedCompany} == PAE920709D75">
				<img src="assets/img/logosEmpresas/PAE.png" class="pl-3 img-fluid mr-0" alt="Logo PAE" style="height: 30px" />
			</div>
			<div th:if="${selectedCompany} == NME801205JE7">
				<img src="assets/img/logosEmpresas/newland.png" class="pl-3 img-fluid mr-0" alt="Logo PAE" style="height: 50px" />
			</div>
			<div th:if="${selectedCompany} == PFL830127PP3">
				<img src="assets/img/logosEmpresas/PFL.gif" class="pl-3 img-fluid mr-0" alt="Logo PAE" style="height: 50px" />
			</div>
			<div th:if="${selectedCompany} == WHI020314BE4">
				<img src="assets/img/logosEmpresas/WHIS_head_logo.gif" class="pl-3 img-fluid mr-0" alt="Logo PAE" style="height: 50px" />
			</div>
			<div th:if="${selectedCompany} == CSO080325968">
				<img src="assets/img/logosEmpresas/logo_excelcuts.png" class="pl-3 img-fluid mr-0" alt="Logo PAE" style="height: 35px" />
			</div>
			<div th:if="${selectedCompany} == SPE880430485">
				<img src="assets/img/logosEmpresas/SDP.jpg" class="pl-3 img-fluid mr-0" alt="Logo PAE" style="height: 50px" />
			</div>
			<div th:if="${selectedCompany} == PRO070511ST2">
				<img src="assets/img/logosEmpresas/PROFLUX.png" class="pl-3 img-fluid mr-0" alt="Logo PAE" style="height: 50px" />
			</div>
		</a>


		<!-- ICONOS DE TOP NAV BAR -->
		<ul class="navbar-nav align-items-center ml-auto">
			
			<li class="nav-item dropdown no-caret mr-3 d-md-inline">
            	<a class="btn btn-icon btn-transparent-dark" href="/dashboard" id="dashboardButton" role="button"  aria-haspopup="true" aria-expanded="false"><i data-feather=layout></i></a> 
            </li>
		
		
			<li class="nav-item dropdown no-caret mr-3 d-md-inline"><a
				class="btn btn-icon btn-transparent-dark dropdown-toggle"
				id="navbarDropdownModulo" href="javascript:void(0);" role="button"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
					data-feather="grid"></i></a>
				<div
					class="dropdown-menu dropdown-menu-right py-0 mr-sm-n15 mr-lg-0 o-hidden animated--fade-in-up"
					aria-labelledby="navbarDropdownModulo">
					<h6 class="dropdown-header dropdown-notifications-header">
						<i class="mr-2" data-feather="grid"></i> Centro de Módulos
					</h6>
					<a class="dropdown-item py-3"
						href="https://docs.startbootstrap.com/sb-admin-pro"
						target="_blank">
						<div class="icon-stack bg-primary-soft text-primary mr-4">
							<i data-feather="layers"></i>
						</div>
						<div>
							<div class="small text-gray-500">Módulo</div>
							Contaduría Nacional
						</div>
					</a>
					<div class="dropdown-divider m-0"></div>
					<a class="dropdown-item py-3"
						href="https://docs.startbootstrap.com/sb-admin-pro/components"
						target="_blank">
						<div class="icon-stack bg-indigo-soft text-indigo mr-4">
							<i data-feather="layers"></i>
						</div>
						<div>
							<div class="small text-gray-500">Módulo</div>
							Caja Chica
						</div>
					</a>
					<div class="dropdown-divider m-0"></div>
					<a class="dropdown-item py-3"
						href="https://docs.startbootstrap.com/sb-admin-pro/changelog"
						target="_blank">
						<div class="icon-stack bg-teal-soft text-teal mr-4">
							<i data-feather="layers"></i>
						</div>
						<div>
							<div class="small text-gray-500">Módulo</div>
							Reposición de Gastos
						</div>
					</a>
					<div class="dropdown-divider m-0"></div>
					<a class="dropdown-item py-3"
						href="https://docs.startbootstrap.com/sb-admin-pro/changelog"
						target="_blank">
						<div class="icon-stack bg-yellow-soft text-yellow mr-4">
							<i data-feather="layers"></i>
						</div>
						<div>
							<div class="small text-gray-500">Módulo</div>
							Comercio Exterior
						</div>
					</a>
					<div class="dropdown-divider m-0"></div>
					<a class="dropdown-item py-3"
						href="https://docs.startbootstrap.com/sb-admin-pro/changelog"
						target="_blank">
						<div class="icon-stack bg-primary-soft text-primary mr-4">
							<i data-feather="layers"></i>
						</div>
						<div>
							<div class="small text-gray-500">Módulo</div>
							Documentos Extranjeros
						</div>
					</a>
				</div>
			</li>
			


			<!-- CONFIGURACIONES -->
			<li class="nav-item dropdown no-caret mr-3 d-md-inline"><a
				class="btn btn-icon btn-transparent-dark dropdown-toggle"
				id="navbarDropdownMessages" href="javascript:void(0);" role="button"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
					data-feather=settings></i></a>
				<div
					class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
					aria-labelledby="navbarDropdownMessages">
					<h6 class="dropdown-header dropdown-notifications-header">
						<i class="mr-2" data-feather="settings"></i> Configuraciones
					</h6>
					<a class="dropdown-item dropdown-notifications-item" href="#!">
						<div class="dropdown-notifications-item-content">
							<div class="dropdown-notifications-item-content-text">Catálogos</div>
						</div>
					</a> <a class="dropdown-item dropdown-notifications-item" href="#!">
						<div class="dropdown-notifications-item-content">
							<div class="dropdown-notifications-item-content-text">Preferencias</div>
						</div>
					</a>
				</div></li>
			<li class="nav-item dropdown no-caret mr-2 dropdown-user"><a
				class="btn btn-icon btn-transparent-dark dropdown-toggle"
				id="navbarDropdownUserImage" href="javascript:void(0);"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false" ><img class="img-fluid"
					th:src="${'https://ui-avatars.com/api/?background=random&name=' + #authentication.principal.name}"/></a>
				<div
					class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
					aria-labelledby="navbarDropdownUserImage">
					<h6 class="dropdown-header d-flex align-items-center">
						<img class="dropdown-user-img"
							th:src="${'https://ui-avatars.com/api/?background=random&name=' + #authentication.principal.name}" />
						<div class="dropdown-user-details">
							<div class="dropdown-user-details-name"><span sec:authentication="name"></div>
							<div class="dropdown-user-details-email"><div th:text="${#authentication.principal.correo}"></div></div>
						</div>
					</h6>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/logout">
                        <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                        Cerrar Sesión
                    </a>
				</div>
			</li>
		</ul>
	</nav>
	<div class="overflow:hidden">

		<!-- MAIN CONTADURIA NACIONAL -->
		<main>
			<header
				class="page-header page-header-compact page-header-gradient border-bottom fixed-top my-5">
				<div class="container">
					<div class="page-header-content pt-4">
						<div class="row align-items-center justify-content-between">
							<div class="col-12 pb-3">
								<h1 class="page-header-title text-white">Documentos
									Nacionales</h1>
								<h1 class="page-header-subtitle text-gray-300 mb-0 text-right">
									Portal Administrativo</h1>
							</div>
						</div>
					</div>
				</div>
			</header>

			<!-- Main page content-->
			<div class="container-fluid" style="padding-top: 150px">
				<div class="row">
					<div class="col-2">

						<!-- Buttons SideNav -->
						<nav class="nav nav-borders flex-column" style="position: fixed">
							<a class="nav-link active" id="pestañaInicio" href="#!">Inicio</a>
							<a class="nav-link" href="#!" id="pestañaFacturas">Facturas</a> 
							<a class="nav-link" id="pestañaNotas" href="#!">Notas de Crédito</a> 
							<a class="nav-link" id="pestañaCompl" href="#!">Complementos de Pago</a> 
							<a class="nav-link" id="pestañaAvisos" href="#!">Avisos de Pago</a>
							
							<img src="assets/img/logosEmpresas/canfer.gif"
								class=" pl-5 pb-5"
								style="position: fixed; margin: 0 auto; bottom: 0; width: 120px;"
								alt="Logo CANFER" />
							
						</nav>
					</div>
					<div class="col-10">

						<!-- Main Content Tables -->
						<div class="card mb-0"  id="divFacturas">
							<input id="selectedCompany" name="selectedCompany" th:value="${selectedCompany}" hidden/>
							<div class="card-body">
								<div class="datatable">

									<div class="row">
										<!-- BOTON NUEVA FACTURA -->
										<div class="col-6 pb-3 pl-3">
											<button type="button" id="btn-add"
												class="btn btn-outline-primary mr-2" data-toggle="modal"
												data-target="#nuevoModal">Nuevo</button>
											<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
											    <i class="" style="color:white" data-feather="search"></i>
											</button>
											<button id="btn-show-all-children"
												class="btn btn-outline-primary p-0 ml-2" type="button">
												<i data-feather="chevrons-down" style="width: 10px"></i>
											</button>
											<button id="btn-hide-all-children"
												class="btn btn-outline-primary p-0" type="button">
												<i data-feather="chevrons-up" style="width: 10px"></i>
											</button>
											<label class="form-check-label ml-2"
												for="exampleCheck1">Seleccionar todo</label>
												 <input type="checkbox" class="form-check-input ml-2 mt-2 pt-1"
												id="selectAll"> 
										</div>
									</div>


									<!-- MODAL PARA NUEVA FACTURA -->
									<div class="detailsForm">
										<div class="modal fade bd-example-modal" id="nuevoModal"
											tabindex="-1" role="dialog"
											aria-labelledby="myLargeModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">Nuevo Documento Fiscal</h5>
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<div class="form-group">
															<div>
																<form method="post" enctype="multipart/form-data"
																	action="#"
																	th:action="@{/documentosFiscalesClient/uploadFactura(rfc=${selectedCompany})}">
																	<table>
																		<div>Cargar un XML:</div>
																		<div class="input-group mb-2">
																			<div class="input-group-prepend">
																				<div class="input-group-text">
																					<i class="far fa-file-code float-left fa-lg"
																						style="color: green"></i>
																				</div>
																			</div>
																			<input class="form-control" id="inputGroupXML"
																				accept=".xml" type="file" name="files" />
																		</div>
																		<div>Cargar un PDF:</div>
																		<div class="input-group mb-2">
																			<div class="input-group-prepend">
																				<div class="input-group-text">
																					<i class="far fa-file-pdf float-left fa-lg"
																						style="color: red"></i>
																				</div>
																			</div>
																			<input class="form-control" id="InputGroupPDF"
																				type="file" accept=".pdf" name="files" />
																		</div>
																		<tr>
																			<td></td>
																			<td><input class="btn btn-primary" type="submit"
																				value="Cargar" /></td>
																		</tr>
																	</table>
																</form>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<!-- FILTROS DE BUSQUEDA -->
									
									<div class="collapse" id="collapseExample">
										<div class="card shadow-none mb-3">
										  <div class="card-header">
										  	<i class="mr-2 text-primary" data-feather="search"></i>
										    Filtros de Busqueda
										    
										  </div>
										  <div class="card-body">
   
											<div class="row pb-1">
												<div class="col">
													<label class="form-check-label" for="reportrangeCarga">Fecha de Carga:</label>
												</div>
												<div class="col">
													<label class="form-check-label" for="inputFiltroProveedor">Proveedor:</label>
												</div>
												<div class="col">
													<label class="form-check-label" for="inputFiltroImporteDesde">Importe:</label>
												</div>
												<div class="col">
													<label class="form-check-label" for="inputFiltroImporteHasta">Importe:</label>
												</div>
												<div class="col">
													<label class="form-check-label" for="inputFiltroEstatus">Estatus:</label>
												</div>
												<div class="col">
													
												</div>
												
											</div>
											<div class="row pb-1">
												<div class="col">
												  	<!-- Date Range Picker CARGA-->
													<button class="btn btn-light btn-sm line-height-normal p-2 " id="reportrangeCarga">
													    <i class="mr-2 text-primary" data-feather="calendar"></i>
													    <span></span>
													    <i class="ml-1" data-feather="chevron-down"></i>
													</button>
												</div>
												<div class="col">
												  	<!-- INPUT PROVEEDOR -->
													<input class="form-control form-control-solid" style="height: 30px; font-size: 14px" id="inputFiltroProveedor" type="text" placeholder="Nombre o RFC">
												</div>
												<div class="col">
												  	<!-- INPUT IMPORTE DESDE -->
												  	<div class="input-group input-group-joined input-group-solid">
														<div class="input-group-append">
													        <span class="input-group-text pl-3" >
													            <i class="text-primary" data-feather="dollar-sign"></i>
													        </span>
													    </div>
														<input class="form-control form-control-solid" style="height: 30px; font-size: 14px" id="inputFiltroImporteDesde" type="text" placeholder="Desde">
												  	</div>
												</div>
												<div class="col">
												  	<!-- INPUT IMPORTE HASTA -->
													<div class="input-group input-group-joined input-group-solid">
														<div class="input-group-append">
													        <span class="input-group-text pl-3" >
													            <i class="text-primary" data-feather="dollar-sign"></i>
													        </span>
													    </div>
														<input class="form-control form-control-solid" style="height: 30px; font-size: 14px" id="inputFiltroImporteHasta" type="text" placeholder="Hasta">
												  	</div>
												</div> 
												<div class="col">
												  	<!-- INPUT IMPORTE ESTATUS -->
													<select class="form-control form-control-solid"  style="height: 30px; font-size: 14px" id="inputFiltroEstatus">
											            <option>EN PROCESO</option>
											            <option>PAGADO</option>
											            <option>CANCELADO</option>
											        </select>
												</div>
												<div class="col">
													<div class="d-inline custom-control custom-checkbox custom-control-solid pr-2">
													    <input class="custom-control-input" id="checkRS" type="checkbox">
													    <label class="custom-control-label" for="checkRS">RS</label>
													    
													</div>
													<div class="d-inline custom-control custom-checkbox custom-control-solid pr-2">
													    <input class="custom-control-input" id="checkGenerico" type="checkbox">
													    <label class="custom-control-label" for="checkGenerico">Genérico</label>
													</div>
													<div class="d-inline custom-control custom-checkbox custom-control-solid pr-2">
													    <input class="custom-control-input" id="checkComplemento" name="checkComplemento" type="checkbox">
													    <label class="custom-control-label" for="checkComplemento">Complemento</label>
													</div>
												</div>
											</div>
											<div class="row pb-1">
												<div class="col">
													<label class="form-check-label" for="reportrangeEmision">Fecha de Emisión:</label>
												</div>
												<div class="col">
													<label class="form-check-label" for="inputFiltroUUID">UUID:</label>
												</div>
												<div class="col">
													<label class="form-check-label" for="inputFiltroFolioInicial">Folio:</label>
												</div>
												<div class="col">
													<label class="form-check-label" for="inputFiltroFolioFinal">Folio:</label>
												</div>
												<div class="col">
													<label class="form-check-label" for="inputFiltroFolioFinal">ID SAP:</label>
												</div>
												<div class="col">
													
												</div>
												
											</div>
											<div class="row pb-1">
												<div class="col">
												  	<!-- Date Range Picker EMISION-->
													<button class="btn btn-light btn-sm line-height-normal p-2" id="reportrangeEmision">
													    <i class="mr-2 text-primary" data-feather="calendar"></i>
													    <span></span>
													    <i class="ml-1" data-feather="chevron-down"></i>
													</button>
												</div>
												<div class="col">
												  	<!-- INPUT UUID -->
													<input class="form-control form-control-solid" style="height: 30px; font-size: 14px" id="inputFiltroUUID" type="text" placeholder="UUID">
												</div>
												<div class="col">
												  	<!-- INPUT FOLIO INICIAL -->
													<input class="form-control form-control-solid" style="height: 30px; font-size: 14px" id="inputFiltroFolioInicial" type="text" placeholder="Inicial">
												</div>
												<div class="col">
												  	<!-- INPUT FOLIO FINAL -->
													<input class="form-control form-control-solid" style="height: 30px; font-size: 14px" id="inputFiltroFolioFinal" type="text" placeholder="Final">
												</div>
												<div class="col">
												  	<!-- INPUT ID SAP -->
													<input class="form-control form-control-solid" style="height: 30px; font-size: 14px" id="inputFiltroIdSap" type="text" placeholder="#ID">
												</div>
												<div class="col">
													
												</div>
												
											</div>
											<div class="row justify-content-end">
												<div class="col">
													<button class="btn btn-blue float-right" type="button" id="reloadTableBtn"
													>
												     Buscar<i class="ml-2" data-feather="search"></i>
													</button>
												</div>
											</div>
											
										</div>
										</div>
									</div>

									<!-- TABLA -->
									<table class="compact table-hover" id="facturas"
										style="text-align: center; width: 100%">
										<thead>
											<tr>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th>No. SAP</th>
												<th>RS</th>
												<th>Folio</th>
												<th>Clave Proveedor</th>
												<th>Proveedor</th>
												<th>RFC Emisor</th>
												<th>Tipo de Documento</th>
												<th>Total</th>
												<th>Moneda</th>
												<th>Estatus</th>
												<th>Fecha de Carga</th>
												<th>Fecha de Emisión</th>
											</tr>
										</thead>
										<tfoot>
											<tr>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th>No. SAP</th>
												<th>RS</th>
												<th>Folio</th>
												<th>Clave Proveedor</th>
												<th>Proveedor</th>
												<th>RFC Emisor</th>
												<th>Tipo de Documento</th>
												<th>Total</th>
												<th>Moneda</th>
												<th>Estatus</th>
												<th>Fecha de Carga</th>
												<th>Fecha de Emisión</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>

							<!-- BOTONES ABAJO DE TABLA -->
							<div class="row ml-3 mt-0 pb-2">
								<div class="btn-group" role="group"
									aria-label="Button group with nested dropdown">
									<button type="button" id="btn-del-mul"
										class="btn btn-outline-primary">Borrar</button>

									<div class="btn-group" role="group">
										<button id="btnGroupDrop1" type="button"
											class="btn btn-outline-primary dropdown-toggle"
											data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">Exportar</button>
										<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
											<a class="dropdown-item" id="comprimir" href="#">Comprimir</a>
											<a class="dropdown-item" id="csv" href="#">CSV</a> <a
												class="dropdown-item" id="pdf" href="#">PDF</a> <a
												class="dropdown-item" id="xml" href="#">XML</a>
										</div>
									</div>
								</div>
							</div>


							<!-- MODAL PARA MAS INFORMACION DE LA FACTURA -->
							<form class="detailsForm" th:action="@{documentosFiscalesClient/update(rfc=${selectedCompany})}" method="post" >
								<div class="modal fade" id="detailsModal" tabindex="-1"
									role="dialog" aria-labelledby="myLargeModalLabel"
									aria-hidden="true">
									<div class="modal-dialog modal-dialog-scrollable" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<div class="col-11">
													<input type="text" style="height: 20px" readonly
														class="form-control-plaintext font-weight-bold font-weight-bold"
														id="uuid" value="" />
												</div>
												<div class="col-1">
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
											</div>
											<div class="modal-body">
												<div class="form-group">

													<!-- Bits de documento -->
													<div class="row">
														<div class="pl-3">
															<div class="form-check form-check-inline ">
																<input class="form-check-input" type="checkbox"
																	id="bitValidoSAT" value="" disabled /> <label
																	class="form-check-label font-weight-bold"
																	for="bitValidoSAT">Valido SAT </label>
															</div>
															<div class="form-check form-check-inline">
																<input class="form-check-input" type="checkbox"
																	id="bitRS" value="" disabled /> <label
																	class="form-check-label font-weight-bold" for="bitRS">RS
																</label>
															</div>
															<div class="form-check form-check-inline">
																<input class="form-check-input" type="checkbox"
																	 id="bitRSusuario" value="" /> <label
																	class="form-check-label font-weight-bold"
																	for="bitRSusuario"> RS Usuario</label>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-3">
															<label for="idNumSap"
																class="form-control-label mb-0 font-weight-bold">
																<small>No. SAP: </small>
															</label>
														</div>
														<div class="col-9">
															<input type="text" style="height: 20px" readonly
																class="form-control form-control-sm bg-white"
																id="idNumSap" value="" />
														</div>
														<div class="col-9">
															<input type="text" style="height: 20px" readonly
																class="form-control form-control-sm bg-white"
																id="bitRSusuarioText" hidden name="bitRSusuario" value="" />
														</div>
													</div>
													<div class="row">
														<div class="col-3">
															<label for="uuid"
																class="form-control-label mb-0 font-weight-bold">
																<small>UUID: </small>
															</label>
														</div>
														<div class="col-9">
															<input type="text" style="height: 20px" readonly
																class="form-control form-control-sm bg-white" name="uuid" id="uuid"
																value="" />
														</div>
													</div>
													<div class="row pt-1">
														<div class="col-3">
															<label for="serie"
																class="form-control-label mb-0 font-weight-bold">
																<small>Serie: </small>
															</label>
														</div>
														<div class="col-9">
															<input type="text" style="height: 20px" readonly
																class="form-control form-control-sm bg-white" id="serie"
																value="" />
														</div>
													</div>
													<div class="row pt-1">
														<div class="col-3">
															<label for="folio"
																class="form-control-label mb-0 font-weight-bold">
																<small>Folio: </small>
															</label>
														</div>
														<div class="col-9">
															<input type="text" style="height: 20px" readonly
																class="form-control form-control-sm bg-white" id="folio"
																value="" />
														</div>
													</div>
													<div class="row pt-1">
														<div class="col-3">
															<label for="versionCfD"
																class="form-control-label mb-0 font-weight-bold">
																<small>Versión CFD: </small>
															</label>
														</div>
														<div class="col-9">
															<input type="text" style="height: 20px" readonly
																class="form-control form-control-sm bg-white"
																id="versionCFD" value="" />
														</div>
													</div>
													<div class="row pt-1">
														<div class="col-3">
															<label for="fechaEmision"
																class="form-control-label mb-0 font-weight-bold">
																<small>Fecha Emisión:</small>
															</label>
														</div>
														<div class="col-9">
															<input type="text" style="height: 20px" readonly
																class="form-control form-control-sm bg-white"
																id="fechaEmision" value="" />
														</div>
													</div>
													<div class="row pt-1">
														<div class="col-3">
															<label for="fechaTimbre"
																class="form-control-label mb-0 font-weight-bold">
																<small>Fecha Timbre: </small>
															</label>
														</div>
														<div class="col-9">
															<input type="text" style="height: 20px" readonly
																class="form-control form-control-sm bg-white"
																id="fechaTimbre" value="" />
														</div>
													</div>
													<div class="row pt-1">
														<div class="col-3">
															<label for="rfcEmpresa"
																class="form-control-label mb-0 font-weight-bold">
																<small>RFC Empresa: </small>
															</label>
														</div>
														<div class="col-9">
															<input type="text" style="height: 20px" readonly
																class="form-control form-control-sm bg-white"
																id="rfcEmpresa" value="" />
														</div>
													</div>
													<div class="row pt-1">
														<div class="col-3">
															<label for="empresa"
																class="form-control-label mb-0 font-weight-bold">
																<small>Empresa: </small>
															</label>
														</div>
														<div class="col-9">
															<input type="text" style="height: 20px" readonly
																class="form-control form-control-sm bg-white"
																id="empresa" value="" />
														</div>
													</div>
													<div class="row pt-1">
														<div class="col-3">
															<label for="rfcProveedor"
																class="form-control-label mb-0 font-weight-bold"><small>
																	RFC Proveedor:</small> </label>
														</div>
														<div class="col-9">
															<input type="text" style="height: 20px" readonly
																class="form-control form-control-sm bg-white"
																id="rfcProveedor" value="" />
														</div>
													</div>
													<div class="row pt-1">
														<div class="col-3">
															<label for="proveedor"
																class="form-control-label mb-0 font-weight-bold">
																<small>Proveedor:</small>
															</label>
														</div>
														<div class="col-9 input-group">
															<input type="text" style="height: 20px" readonly
																class="form-control form-control-sm bg-white"
																id="proveedor" value="" />
																<div class="input-group-append">
																	<span class="input-group-text" style="height: 20px">
																		<a class=" refreshProv pt-2" type="button"><i
																			data-feather="edit" style="color:blue"></i></a>
																	</span>
																</div>
														</div>
													</div>
													<div class="row pt-1">
														<div class="col-3">
															<label for="noCertificadoEmpresa"
																class="form-control-label mb-0 font-weight-bold">
																<small>No. Certificado de Empresa: </small>
															</label>
														</div>
														<div class="col-9">
															<input type="text" style="height: 20px" readonly
																class="form-control form-control-sm bg-white"
																id="noCertificadoEmpresa" value="" />
														</div>
													</div>
													<div class="row pt-1">
														<div class="col-3">
															<label for="noCertificadoSAT"
																class="form-control-label mb-0 font-weight-bold">
																<small>No. Certificado SAT:</small>
															</label>
														</div>
														<div class="col-9">
															<input type="text" style="height: 20px" readonly
																class="form-control form-control-sm bg-white"
																id="noCertificadoSAT" value="" />
														</div>
													</div>
													<div class="row pt-1">
														<div class="col-3">
															<label for="versionTimbre"
																class="form-control-label mb-0 font-weight-bold">
																<small>Versión Timbre: </small>
															</label>
														</div>
														<div class="col-9">
															<input type="text" style="height: 20px" readonly
																class="form-control form-control-sm bg-white"
																id="versionTimbre" value="" />
														</div>
													</div>
													<div class="row pt-1">
														<div class="col-3">
															<label for="tipoDocumento"
																class="form-control-label mb-0 font-weight-bold">
																<small>Tipo Documento:</small>
															</label>
														</div>
														<div class="col-9">
															<input type="text" style="height: 20px" readonly
																class="form-control form-control-sm bg-white"
																id="tipoDocumento" value="" />
														</div>
													</div>
													<div class="row pt-1">
														<div class="col-3">
															<label for="estatusPago"
																class="form-control-label mb-0 font-weight-bold">
																<small>Estatus: </small>
															</label>
														</div>
														<div class="col-9">
														  	<!-- INPUT IMPORTE ESTATUS -->
															<select class="form-control form-control-sm bg-white"  name="estatus" style="height: 30px; font-size: 14px" id="estatusPago">
													            <option>PAGADO</option>
													            <option>CANCELADO</option>
													            <option>EN PROCESO</option>
													            <option th:selected = "${estatusPago}"></option>
													        </select>
														</div>
													</div>
													<div class="row pt-1">
														<div class="col-3">
															<label for="estatusSAT"
																class="form-control-label mb-0 font-weight-bold">
																<small>Vigente SAT: </small>
															</label>
														</div>
														<div class="col-9">
															<div class="input-group input-group-joined">
																<input type="text" style="height: 20px" readonly
																	class="form-control form-control-sm bg-white"
																	id="estatusSAT" value="" />
																<div class="input-group-append">
																	<span class="input-group-text" style="height: 20px">
																		<a class="refreshBtn pt-2" type="button"><i
																			data-feather="refresh-cw" style="color:blue"></i></a>
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="row pt-1">
														<div class="col-3">
															<label for="respuestaValidacion"
																class="form-control-label mb-0 font-weight-bold">
																<small>Respuesta Validación: </small>
															</label>
														</div>
														<div class="col-9">
															<input type="text" style="height: 20px" readonly
																class="text-danger form-control form-control-sm bg-white"
																id="respuestaValidacion" value="" />
														</div>
													</div>
													<div class="row pt-1">
														<div class="col-3">
															<label for="errorValidacion"
																class="form-control-label mb-0 font-weight-bold">
																<small>Error Validación: </small>
															</label>
														</div>
														<div class="col-9">
															<input type="text" style="height: 20px" readonly
																class="text-danger form-control form-control-sm bg-white"
																id="errorValidacion" value="" />
														</div>
													</div>
													<div class="row pt-1">
														<div class="col-3">
															<label for="facturaNotaComplemento"
																class="form-control-label mb-0 font-weight-bold">
																<small>Documento Relacionado: </small>
															</label>
														</div>
														<div class="col-9">
															<input type="text" style="height: 20px" readonly
																class="form-control form-control-sm bg-white"
																id="facturaNotaComplemento" value="" />
														</div>
													</div>
													<div class="row mt-0 pt-0">
														<div class="col-6"></div>
														<div class="col-6">
															<label for="total"
																class="form-control-label mb-0 pull-right font-weight-bold">
																<small>Total: </small>
															</label>
															<div class="input-group">
																<div class="input-group-prepend ">
																	<div class="input-group-text" style="height: 20px">
																		<i data-feather="dollar-sign" style="color: green"></i>
																	</div>
																</div>
																<input type="text" style="height: 20px; width: 90px"
																	readonly
																	class="form-control form-control-sm bg-white text-success"
																	id="total" value="" /> <input type="text"
																	style="height: 20px; width: 50px" readonly
																	class="form-control form-control-sm bg-white text-green"
																	id="moneda" value="" />
															</div>
														</div>
													</div>
													<div class="row pt-1">
														<div class="col-3">
															<label for="comentario"
																class="form-control-label mb-0 font-weight-bold">
																<small>Comentarios: </small>
															</label>
														</div>
														<div class="col-9">
															<textarea type="text" style="height: 50px"
																class="form-control form-control-sm bg-white" cols="40"
																rows="5" id="comentario" name="comentario" value=""></textarea>
														</div>
													</div>
													<div>Adjuntar un PDF:</div>
																		<div class="input-group mb-2">
																			<div class="input-group-prepend">
																				<div class="input-group-text">
																					<i class="far fa-file-pdf float-left fa-lg"
																						style="color: red"></i>
																				</div>
																			</div>
																			<input class="form-control" id="InputGroupPDF"
																				type="file" accept=".pdf" name="files" />
																		</div>
												</div>
											</div>
											<div class="modal-footer">
												<a class="btn btn-datatable btn-icon btn-transparent-dark float-right pdfBtn mr-1"><i class="fa fa-file-pdf fa-2x" style="color: red"></i></a> 
												<a class="btn btn-datatable btn-icon btn-transparent-dark float-right xmlBtn mr-1"><i class="fas fa-file-code fa-2x" style="color: green"></i></a> 
												<div id="conpago" class="mr-auto">
													<a class="btn btn-datatable btn-icon btn-transparent-dark float-right pagoBtn"><i class="fas fa-file-invoice-dollar fa-2x" style="color: teal"></i></a>
												</div>
												<div id="sinpago" class="mr-auto">
													<span class="ml-0  fa-stack fa-2x mr-1"><i class="fas fa-file-invoice-dollar fa-stack-1x float-left sinPagoBtn" style="color: teal"></i><i
														class="fas fa-slash fa-stack-1x" style="color: red"></i></span> 
												</div>
												<button  class="btn btn-primary" type="submit">Guardar</button>
											</div>
										</div>
									</div>
								</div>
							</form>

			
							<!-- MODAL PARA CONFIRMAR BORRAR -->
							<div class="deleteForm">
								<div class="modal fade" id="deleteModal" tabindex="-1"
									role="dialog" aria-labelledby="exampleModalCenterTitle"
									aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalCenterTitle">Eliminar
													Documento</h5>
												<button class="close" type="button" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">×</span>
												</button>
											</div>
											<div class="modal-body">¿Está seguro que desea eliminar
												el documento?</div>
											<div class="modal-footer">
												<button class="btn btn-primary" type="button"
													data-dismiss="modal">Cancelar</button>
												<a class="btn btn-danger delBtn" type="button">Eliminar</a>
											</div>
										</div>
									</div>
								</div>
							</div>


						</div>
					
						<!-- Main Content Table avisos de Pago -->
						<div class="card mb-0" hidden="true" id="divAvisos">
							<div class="card-body">
								<div class="datatable">
								<!-- TABLA -->
									<table class="compact table-hover" id="avisosDePago"
										style="text-align: center; width: 100%">
										<thead>
											<tr>
												<th></th>
												<th>No. Pago</th>
												<th>Total</th>
												<th>Moneda</th>
												<th>Nuevo Estatus</th>
												<th>Fecha de Pago</th>
												<th>Clave Proveedor</th>
												<th>RFC Proveedor</th>
											</tr>
										</thead>
										<tfoot>
											<tr>
												<th></th>
												<th>No. Pago</th>
												<th>Total</th>
												<th>Moneda</th>
												<th>Nuevo Estatus</th>
												<th>Fecha de Pago</th>
												<th>Clave Proveedor</th>
												<th>RFC Proveedor</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					
					</div>
				</div>
			</div>
			<!-- TOAST PARA REFRESH DE SAT -->
							<div class="toast" role="alert" id="toastSAT" data-autohide="true" data-delay="4000" style=" z-index: 7000; position: absolute; bottom: .5rem; right: .5rem;" aria-live="assertive" aria-atomic="true">
							    <div class="toast-header bg-primary text-white">
							        <i data-feather="alert-circle"></i>
							        <strong class="mr-auto">Cambio de Estatus de Vigencia</strong>
							        <small class="text-white-50 ml-2">Ahora</small>
							    </div>
							    <div class="toast-body">Se procesó la petición ante el SAT.</div> 
							</div>
							
		</main>
		<footer class="footer mt-auto footer-light">
			<div class="container">
				<div class="row">
					<div class="col-md-10 offset-md-2">
						<div class="row">
							<div class="col-md-6 small">Copyright &copy; Canfer Grupo Empresarial 2020</div>
							<div class="col-md-6 text-md-right small">
								<a href="#!"> Políticas de Privacidad</a> &middot; <a href="#!">Términos
									&amp; Condiciones</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="js/scripts.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.5/b-html5-1.6.5/datatables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
	<script src="js/tabledf.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/buttons/1.6.3/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/buttons/1.6.3/js/buttons.bootstrap4.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/buttons/1.6.3/js/buttons.flash.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/responsive/2.2.5/js/responsive.bootstrap4.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/scroller/2.0.2/js/dataTables.scroller.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/searchpanes/1.1.1/js/dataTables.searchPanes.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/searchpanes/1.1.1/js/searchPanes.bootstrap4.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<script src="assets/demo/date-range-picker-demo.js"></script>



</body>
</html>