<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Registrar una cuenta</title>
<link href="/css/styles-admin.css" rel="stylesheet" />
<link rel="icon" type="image/x-icon" href="/assets/img/logosEmpresas/canfer.gif" />
<script data-search-pseudo-elements defer
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.27.0/feather.min.js"
	crossorigin="anonymous"></script>
</head>


<body class="bg-white">
	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-8 col-lg-9">
							<!-- Social registration form-->
							<div class="card my-5">
								<div class="card-body p-5 text-center">
									<div class="h3 font-weight-light mb-3">Registrar Cuenta</div>
									<!-- Social registration links-->
								</div>
								<hr class="my-0" />
								<div class="card-body p-5">
									<div class="alert alert-danger" role="alert" th:text="${errorMessage}" th:if="${errorMessage}"></div>
									<!-- Login form-->
									<form action="#" th:action="@{registerSupplier}" class="form-group"
										th:object="${user}" method="post">
										<!-- Form Row-->
										<div class="form-row">
											<div class="col-md-12">
												<!-- Form Group (Proveedor)-->
												<div class="form-group">
													<label class="text-gray-600 small" for="proveedor">Empresa o Persona Física</label>
													<input class="form-control form-control-solid py-4"
														required type="text" id="proveedor" th:field="*{proveedor}"
														name="proveedor" placeholder="" aria-label="proveedor"
														aria-describedby="firstNameExample"/>
												</div>
											</div> 
										</div>
										<!-- Form Row-->
										<div class="form-row">
											<div class="col-md-6">
												<!-- Form Group (first name)-->
												<div class="form-group">
													<label class="text-gray-600 small" for="nombre">Nombre de Contacto</label>
													<input class="form-control form-control-solid py-4"
														required type="text" id="FirstName" th:field="*{nombre}"
														name="FirstName" placeholder="" aria-label="First Name"
														aria-describedby="firstNameExample"/>
												</div>
											</div>
											<div class="col-md-6">
												<!-- Form Group (last name)-->
												<div class="form-group">
													<label class="text-gray-600 small" for="apellido">Apellido de Contacto</label>
													<input class="form-control form-control-solid py-4"
														required type="text" id="apellido" th:field="*{apellido}"
														name="apellido" placeholder="" aria-label="Last Name"
														aria-describedby="lastNameExample"/>
												</div>
											</div>
										</div>
										<!-- Form Group (username)-->
										<div class="form-group">
											<label class="text-gray-600 small" for="username">Usuario</label> <input
												class="form-control form-control-solid py-4" required
												type="text" id="username" th:field="*{username}" name="username"
												placeholder="" aria-label="Usuario"
												aria-describedby="usuario">
										</div>
										
										<!-- Form Row-->
										<div class="form-row">
											<div class="col-md-6">
												<!-- Form Group (RFC)-->
												<div class="form-group">
													<label class="text-gray-600 small" for="rfc">RFC</label>
													<input class="form-control form-control-solid py-4"
														required type="text" id="usuario" th:field="*{rfc}"
														name="rfc" placeholder="" aria-label="rfc"
														aria-describedby="rfc" />

												</div>
											</div>
											<div class="col-md-6">
												<!-- Form Group (correo)-->
												<div class="form-group">
													<label class="text-gray-600 small" for="correo">Correo</label>
													<input class="form-control form-control-solid py-4"
														required type="text" id="usuario" th:field="*{correo}"
														name="correo" placeholder="" aria-label="correo"
														aria-describedby="correo" />

												</div>
											</div>
										</div>  
										<!-- Form Group (form submission)-->
										<div class="form-group d-flex float-right">
											<button type="submit" class="btn btn-primary">Registrar cuenta</button>
											<a class="btn btn-primary ml-2" href="/login" role="button">Cancelar</a>

										</div>
									</form>
								</div>
								<hr class="my-0" />

							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<div id="layoutAuthentication_footer">
			<footer class="footer mt-auto footer-light">
				<div class="mx-auto">
					<div class="row">
						<div class="small">Copyright &copy; Canfer Grupo Empresarial
							2021</div>
					</div>
				</div>
		</footer>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="/js/scripts.js"></script>
</body>
</html>
