<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Registrar una cuenta</title>
<link href="/css/styles-admin.css" rel="stylesheet" />
<link rel="icon" type="image/x-icon" href="/assets/img/logosEmpresas/canfer.gif" />
<script data-search-pseudo-elements defer
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.27.0/feather.min.js"
	crossorigin="anonymous"></script>
</head>


<body class="nav-fixed">
	<nav class="topnav navbar navbar-expand shadow navbar-light bg-white"
		id="sidenavAccordion">

		<!-- LOGO DE LA EMPRESA -->
		<a class="navbar-brand" href="#"> <img
			src="/assets/img/logosEmpresas/CANFER-logo-transparente.png"
			class="pl-3 img-fluid mr-0" alt="Logo Canfer" style="height: 45px" />
		</a>

		<!-- ICONOS DE TOP NAV BAR -->
		<ul class="navbar-nav align-items-center ml-auto">

			<li class="nav-item dropdown no-caret mr-3 d-md-inline"><a
				class="btn btn-icon btn-transparent-dark" href="/dashboard"
				id="dashboardButton" role="button" aria-haspopup="true"
				aria-expanded="false"><i data-feather=layout></i></a></li>

			<li class="nav-item dropdown no-caret mr-3 d-md-inline"><a
				class="btn btn-icon btn-transparent-dark dropdown-toggle"
				id="navbarDropdownModulo" href="javascript:void(0);" role="button"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
					data-feather="grid"></i></a>
				<div
					class="dropdown-menu dropdown-menu-right py-0 mr-sm-n15 mr-lg-0 o-hidden animated--fade-in-up"
					aria-labelledby="navbarDropdownModulo">
					<h6 class="dropdown-header dropdown-notifications-header">
						<i class="mr-2" data-feather="grid"></i> Centro de Módulos
					</h6>
					<a class="dropdown-item py-3" th:href="@{/dashboard}">
						<div class="icon-stack bg-primary-soft text-primary mr-4">
							<i data-feather="layers"></i>
						</div>
						<div>
							<div class="small text-gray-500">Módulo</div>
							Contaduría Nacional
						</div>
					</a>
					<div class="dropdown-divider m-0"></div>
					<a class="dropdown-item py-3"
						th:href="@{/cajachicaclient/dashboard}">
						<div class="icon-stack bg-indigo-soft text-indigo mr-4">
							<i data-feather="layers"></i>
						</div>
						<div>
							<div class="small text-gray-500">Módulo</div>
							Caja Chica
						</div>
					</a>
					<div class="dropdown-divider m-0"></div>
					<a class="dropdown-item py-3" target="_blank">
						<div class="icon-stack bg-teal-soft text-teal mr-4">
							<i data-feather="layers"></i>
						</div>
						<div>
							<div class="small text-gray-500">Módulo</div>
							Reposición de Gastos
						</div>
					</a>
					<div class="dropdown-divider m-0"></div>
					<a class="dropdown-item py-3" target="_blank">
						<div class="icon-stack bg-yellow-soft text-yellow mr-4">
							<i data-feather="layers"></i>
						</div>
						<div>
							<div class="small text-gray-500">Módulo</div>
							Comercio Exterior
						</div>
					</a>
					<div class="dropdown-divider m-0"></div>
					<a class="dropdown-item py-3" target="_blank">
						<div class="icon-stack bg-primary-soft text-primary mr-4">
							<i data-feather="layers"></i>
						</div>
						<div>
							<div class="small text-gray-500">Módulo</div>
							Documentos Extranjeros
						</div>
					</a>
				</div></li>

			<li class="nav-item dropdown no-caret mr-3 d-md-inline"><a
				class="btn btn-icon btn-transparent-dark dropdown-toggle"
				id="navbarDropdownMessages" href="/admin/cpanel" role="button"
				aria-haspopup="true" aria-expanded="false"><i
					data-feather=settings></i></a></li>
			<li class="nav-item dropdown no-caret mr-2 dropdown-user"><a
				class="btn btn-icon btn-transparent-dark dropdown-toggle"
				id="navbarDropdownUserImage" href="javascript:void(0);"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"><img class="img-fluid"
					th:src="${'https://ui-avatars.com/api/?background=random&color=fff&name=' + #authentication.principal.name}" /></a>
				<div
					class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
					aria-labelledby="navbarDropdownUserImage">
					<h6 class="dropdown-header d-flex align-items-center">
						<img class="dropdown-user-img"
							th:src="${'https://ui-avatars.com/api/?background=random&color=fff&name=' + #authentication.principal.name}" />
						<div class="dropdown-user-details">
							<div class="dropdown-user-details-name">
								<span sec:authentication="name"></span>
							</div>
							<div class="dropdown-user-details-email">
								<div th:text="${#authentication.principal.correo}"></div>
							</div>
						</div>
					</h6>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/logout">
						<div class="dropdown-item-icon">
							<i data-feather="log-out"></i>
						</div> Cerrar Sesión
					</a>
				</div></li>
		</ul>
	</nav>
	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>
			<header class="page-header page-header-compact page-header-gradient border-bottom fixed-top my-5">
					<div class="container">
						<div class="page-header-content pt-4">
							<div class="row align-items-center justify-content-between">
								<div class="col-12 pb-3">
									<h1 class="page-header-title text-white">
										<div class="page-header-icon">
											<i data-feather="user-plus"></i>
										</div>
										Añadir Usuario Proveedor
									</h1>
									<h1 class="page-header-subtitle text-gray-100 mb-0 text-right">Catálogos</h1>
								</div>
							</div>
						</div>
					</div>
				</header>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-8 col-lg-9">
						
						<div class="row my-5"></div>
						<div class="row my-5"></div>
							<!-- Social registration form-->
							<div class="card">
								<div class="card-body text-center">
									<div class="h3 font-weight-light mt-2">Registrar Cuenta</div>
									<!-- Social registration links-->
								</div>
								<hr class="my-0" />
								<div class="card-body p-5">
									<div class="alert alert-danger" role="alert" th:text="${errorMessage}" th:if="${errorMessage}"></div>
									<!-- Login form-->
									<form action="#" th:action="@{addUserSupplier}" class="form-group"
										th:object="${user}" method="post">
										<!-- Form Row-->
										<div class="form-row">
											<div class="col-md-12">
												<!-- Form Group (Proveedor)-->
												<div class="form-group">
													<label class="text-gray-600 small" for="proveedor">Empresa o Persona Física</label>
													<input class="form-control form-control-solid py-4"
														required type="text" id="proveedor" th:field="*{proveedor}"
														name="proveedor" placeholder="" aria-label="proveedor"
														aria-describedby="firstNameExample"/>
												</div>
											</div> 
										</div>
										<!-- Form Row-->
										<div class="form-row">
											<div class="col-md-6">
												<!-- Form Group (first name)-->
												<div class="form-group">
													<label class="text-gray-600 small" for="nombre">Nombre de Contacto</label>
													<input class="form-control form-control-solid py-4"
														required type="text" id="FirstName" th:field="*{nombre}"
														name="FirstName" placeholder="" aria-label="First Name"
														aria-describedby="firstNameExample"/>
												</div>
											</div>
											<div class="col-md-6">
												<!-- Form Group (last name)-->
												<div class="form-group">
													<label class="text-gray-600 small" for="apellido">Apellido de Contacto</label>
													<input class="form-control form-control-solid py-4"
														required type="text" id="apellido" th:field="*{apellido}"
														name="apellido" placeholder="" aria-label="Last Name"
														aria-describedby="lastNameExample"/>
												</div>
											</div>
										</div>
										<!-- Form Group (username)-->
										<div class="form-group">
											<label class="text-gray-600 small" for="username">Usuario</label> <input
												class="form-control form-control-solid py-4" required
												type="text" id="username" th:field="*{username}" name="username"
												placeholder="" aria-label="Usuario"
												aria-describedby="usuario">
										</div>
										
										<!-- Form Row-->
										<div class="form-row">
											<div class="col-md-6">
												<!-- Form Group (RFC)-->
												<div class="form-group">
													<label class="text-gray-600 small" for="rfc">RFC</label>
													<input class="form-control form-control-solid py-4"
														required type="text" id="usuario" th:field="*{rfc}"
														name="rfc" placeholder="" aria-label="rfc"
														aria-describedby="rfc" />

												</div>
											</div>
											<div class="col-md-6">
												<!-- Form Group (correo)-->
												<div class="form-group">
													<label class="text-gray-600 small" for="correo">Correo</label>
													<input class="form-control form-control-solid py-4"
														required type="text" id="usuario" th:field="*{correo}"
														name="correo" placeholder="" aria-label="correo"
														aria-describedby="correo" />

												</div>
											</div>
										</div>  
										<!-- Form Group (form submission)-->
										<div class="form-group d-flex float-right">
											<button type="submit" class="btn btn-primary">Registrar cuenta</button>
											<a class="btn btn-primary ml-2" href="/login" role="button">Cancelar</a>

										</div>
									</form>
								</div>
								<hr class="my-0" />

							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<div id="layoutAuthentication_footer">
			<footer class="footer mt-auto footer-light">
				<div class="mx-auto">
					<div class="row">
						<div class="small">Copyright &copy; Canfer Grupo Empresarial
							2021</div>
					</div>
				</div>
		</footer>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="/js/scripts.js"></script>
</body>
</html>
